[2018-05-13 05:34] ronaldtse opened #1 "Ensure Metanorma gem works as expected"
As title.

[2018-05-13 05:35] ronaldtse opened #2 "Only allow backend selection when the backend type is installed"
Just like how `asciidoctor` works -- we shouldn't allow using a backend that is not yet installed.

Right now it requires all the different types of backends to be installed to work.

[2018-05-13 12:36] opoudjis commented on #1
... More information?

[2018-05-13 12:38] opoudjis commented on #2
I do not understand. Do you mean that the script should abort if the required gem is not installed? But why would we not simply import all required gems? It's not like importing four gems is unusual by gem standards?

[2018-05-14 02:10] ronaldtse commented on #2
Not abort, but only allow entering if the backend is installed. An ISO author may never want to create a CSD document, vice versa.

The easy way to do it is:

[code]

[2018-05-14 03:37] ronaldtse commented on #1
Indeed, it works.

[2018-05-14 03:37] #1 closed

[2018-05-14 03:37] ronaldtse commented on #2
Done in 6fa52a1.

[2018-05-14 03:37] #2 closed

[2018-05-15 03:22] ronaldtse opened #3 "Use AsciiDoctor parse instead of Cli"
Currently we hook AsciiDoctor at the `Cli` level, but we should directly use the AsciiDoctor parse routine instead. i.e. we should not depend on AsciiDoctor for CLI parsing and options.

Now:
[code]

[2018-05-16 07:46] opoudjis commented on #3
Why?

Yes, I know that I'm being difficult, but I want to understand what dependencies are being considered harmful here.

[2018-05-16 07:51] ronaldtse commented on #3
Because we want to switch it out with Selagraph in the future?

[2018-05-16 13:45] opoudjis commented on #3
But the Cli does not prevent that, and it's going to make it easier to deal with command line invocation of the asciidoctor.

If you want Selagraph in the future, you're going to be specifying a document source option for the script as well as a target standard option (or else have the script infer it from the document contents). In fact, the script already allows that, although it only accepts as

[2018-05-16 17:19] ronaldtse commented on #3
You have a point. However, `Cli` is an internal Asciidoctor API, vs the actual backend `parse` operation is a public API. To me instead of trying to fake CLI options and fake invoke, might as well we just call `parse` on the Asciidoctor backend.

The other reason is -- I know you hate this -- refactoring -- the input and output. Metanorma should handle:
1. Read input and give to input processor
2.

[2018-05-17 08:46] ronaldtse opened #4 "Request: Metanorma M3AAWG documents"
We just received a request from CalConnect's TC CALSPAM to make Metanorma work with M3AAWG documents too.

Here's a sample of how theirs look like, they use PDF.
https://www.m3aawg.org/sites/default/files/m3aawg-senders-complaint-handling-2017-12.pdf

I think we can do a M3AAWG branded HTML styling and a PDF output via HTML Print or Word?

cc: @opoudjis

[2018-05-18 17:51] ronaldtse commented on #4
We're calling this format M3D (M3AAWG Document)

* Models: https://github.com/riboseinc/m3d-models
* Styling: https://github.com/riboseinc/m3d-styles
* AsciiDoctor backend: https://github.com/riboseinc/asciidoctor-m3d

[2018-05-20 11:25] opoudjis commented on #3
The convert_file command can operate from an input string instead of from a file.

We don't actually want this though, because we need the filename for the naming of isodoc outputs. However, we do need to manipulate asciidoctor content (for https://github.com/riboseinc/asciidoctor-iso/issues/133).  So we will likely end up passing the file name as an argument into isodoc.

[2018-05-20 13:43] opoudjis commented on #4
PDF output: recall that we could only autogenerate PDF from Word via an inaccessible libreoffice addin. If the PDF can be completely generated from HTML, we don't need a Word version. But the PDF sample is clearly Word-generated: it has a footer, page numbers, table of contents with page numbers,  and a colophon.

Btw, we have no provided for colophons in documents to date. This will be a change t

[2018-05-21 06:45] ronaldtse commented on #4
For PDF there are only two ways here, either we go through third-party software or use the Ruby `prawn` gem which is used by `asciidoctor-pdf`. Currently it should be enough creating a Word doc which the user can PDF themselves.

[2018-05-22 02:31] ronaldtse commented on #3
@opoudjis I think we can actually pass the document attributes separately from the Asciidoc content string itself; Asciidoctor allows setting metadata (as a hash) separately from the content. So we can set the defaults outside of the string content (which is read from the file).

We should handle the filename of input / output files separately from Asciidoctor.

[2018-05-22 11:48] opoudjis commented on #3
The standards other than RFC2/3 now invoke Asciidoctor separately from Isodoc, and invoke Asciidoctor with a string rather than a file. Document attributes are extracted from the Asciidoctor string, without parsing the document, and passed on to Isodoc. The filename is passed to Isodoc.

The RFC2/3 standard is invoked as a file, and until there is a mapping from RFC XML to ISOXML, I strongly sugge

[2018-05-22 11:48] #3 closed

[2018-05-30 22:30] opoudjis commented on #4
I'm closing this ticket, since the work has been done in the asciidoctor-m3d gem.

We have a working HTML to PDF solution now in CSD; but HTML deals poorly with page numbers (particularly table of content page numbers), so for M3AAWG we will stick with Word.

[2018-05-30 22:30] #4 closed

[2018-06-02 05:17] ronaldtse opened #5 "Allow selection of output format"
Most metanorma modules generate multiple output formats in addition to their own XML:

* asciidoctor-csd : CSDXML, HTML and PDF
* asciidoctor-rfc: XMLRFC
* asciidoctor-iso: ISOXML, HTML and Word DOC
* asciidoctor-m3d: M3DXML and Word DOC
* asciidoctor-csand: CSANDXML, HTML and PDF

The user should be able to select these formats via a command line argument, such as:

[code]
(something like this)

[2018-06-13 04:27] ronaldtse commented on #5
Related to https://github.com/riboseinc/asciidoctor-iso/issues/94#issuecomment-396753159

[2018-06-13 04:59] opoudjis commented on #5
"can we have a command flag that allows outputting Metanorma XML to disk?"

[2018-06-18 12:13] #5 closed

[2018-06-20 10:22] ronaldtse opened #7 "Move versioning capability into individual processors"
There's this code in exe/metanorma but should be moved into individual `Processor`s.

[code]

[2018-06-20 10:39] ronaldtse opened #9 "Remove debug `puts` from Pdf function"
https://github.com/riboseinc/metanorma/blob/329b8a5aac4d1475c807361f867faded112051a6/lib/metanorma/output/pdf.rb#L8

[2018-06-20 23:45] #9 closed

[2018-06-22 02:25] opoudjis opened #10 "rspec"

[2018-06-23 10:51] opoudjis opened #11 "Output ISOXML on request"
Will do so with `-x xml`

[2018-06-23 10:53] opoudjis commented on #11
In fact, -x is not currently validated at all!

[2018-06-23 11:33] #11 closed

[2018-06-23 12:48] #7 closed

[2018-06-23 13:35] ronaldtse commented on #7
Thank you @opoudjis !

[2018-06-23 13:58] opoudjis commented on #10
Done rspec on the metanorma/processor.rb of each gem

[2018-06-24 23:55] opoudjis commented on #10
Done rspec on the metanorma executable

[2018-06-25 10:47] #10 closed

[2018-06-26 17:12] ronaldtse opened #12 "When no `-x` argument (`options[:extension_keys]`) provided, fail safe"
Don't crash, right now it gives error at:

`/lib/ruby/gems/2.4.0/gems/metanorma-0.2.2/exe/metanorma:132`

[2018-06-27 08:01] opoudjis commented on #12
I cannot replicate this, at all. metanorma -t iso rice.adoc works fine. But clearly the gem had been updated since then, so I'm pushing a new version.

[2018-06-27 08:01] #12 closed

[2018-07-01 05:37] ronaldtse opened #13 "Should support Ruby 2.4+"
Ruby 2.5 is still unstable -- we should still support Ruby 2.4+.

Done in https://github.com/riboseinc/metanorma/commit/ca63529bb05c3884e7bddde7ff7442ac274aedda

[2018-07-01 05:37] #13 closed

[2018-07-02 13:19] opoudjis opened #15 "Introduce -x all for default behaviour"
Of outputting all available formats

[2018-07-06 00:18] opoudjis opened #16 "Find content for metanorma.com from gems"
Including migrating wiki content about gems into docs/ for those gems.

@strogonoff, this is going to take a while, and the docs are going to need refactoring; I'll keep you informed as I do this.

[2018-07-06 00:51] opoudjis commented on #16
Move ticket to metanorma.com

[2018-07-06 00:51] #16 closed

[2018-07-06 02:45] ronaldtse opened #17 "Update installation steps for Ubuntu"
From our good friend @mjosaarinen :

vmware to test out what the full list of dependencies is. ...
Some of that is not 100% trivial so you may want to use
that somewhere else too.

[code]

[2018-07-06 03:42] ronaldtse opened #18 "asciidoctor-gb fails to load in metanorma exec"
Error:

[code]

[2018-07-06 03:52] ronaldtse commented on #18
Closed in favor of https://github.com/riboseinc/asciidoctor-gb/issues/88

[2018-07-06 03:52] #18 closed

[2018-07-06 11:16] opoudjis commented on #17
I think this is beyond my capability. Need to discuss.

[2018-07-08 02:31] ronaldtse commented on #17
This task is just to add to documentation on how to setup Metanorma on Ubuntu.

Setup docker through dinghy on macOS:

[code]

Run the Ubuntu container:

[code]

Setup prerequisites In the container:

[code]

Metanorma is setup!

[2018-07-08 05:01] opoudjis commented on #17
So, I'm adding these commands to the script in https://github.com/riboseinc/metanorma-macos-setup ? And  then adding documentation about this step in the Readme?

Surely this is an optional step, so we should add a command line argument in the script on whether to do a virtual Ubuntu?

[2018-07-08 05:15] ronaldtse commented on #17
Let’s just put the Ubuntu instructions in the Metanorma README. The macOS script is really just macOS only.

[2018-07-08 09:42] #17 closed

[2018-07-09 01:17] opoudjis opened #19 "Change licences"
There is a mix of MIT and BSD-2 licences on gems I am responsible for. Update any MIT licences to BSD-2, both in gemspec and github.

[2018-07-09 01:46] opoudjis opened #20 "Set up Github Project Board across Metanorma"
https://help.github.com/articles/about-project-boards

Thereby averting burnout.

[2018-07-11 09:15] opoudjis opened #21 "New Metanorma-processor gem"
Move input, output, and processor classes to separate gem, in order to avoid a circular gem references

[2018-07-14 07:08] opoudjis commented on #21
No, we will move the script to metanorma-cli instead

[2018-07-14 07:47] #21 closed

[2018-07-14 10:53] #20 closed

[2018-07-16 01:00] opoudjis commented on #15
Done

[2018-07-16 01:00] #15 closed

[2018-08-01 22:53] opoudjis opened #23 "All metanorma gems to support Ruby 2.3"
For https://github.com/riboseinc/metanorma-cli/issues/1

[2018-08-19 09:51] opoudjis commented on #19
Done for all gems

[2018-08-19 09:51] #19 closed

[2018-09-12 00:29] ronaldtse opened #24 "HTML renderer ability to inline images into resulting HTML"
In a Metanorma document that contain images, HTML distribution is hampered by the need of including the original location of images.

This task is to allow the base form of the Metanorma HTML renderer to allow "inlining" (i.e. data64) of images into the resulting HTML file for easier distribution.

[2018-09-15 02:52] opoudjis commented on #24
I've thought about this for a while, but is it practical in all cases? Isn't there a size limit beyond which data64 encoding is not practical? https://github.com/riboseinc/metanorma-cli/issues/2 is also meant to address this concern by creating folders instead.

[2018-09-17 13:47] strogonoff opened #25 "Putting Metanorma build options inside the document"
What is the most straightforward way to build given Metanorma source (for example, the Nereon syntax spec[0]) using `metanorma` gem directly from Ruby and not by calling a CLI executable with command-line flags? Couldn’t easily find that documented somewhere.

The use case in question is building specs on Jekyll site, and since plugin code would run in Ruby land, it would make sense to avoid going

[2018-09-18 09:13] ronaldtse commented on #25
Are you suggesting a Jekyll plugin for Metanorma documents? 😉

Something like this will work (from the `metanorma-cli` source: https://github.com/riboseinc/metanorma-cli/blob/master/exe/metanorma)

[code]

P.S. Another way of building Metanorma documents is via Docker, but it's probably not what you want https://github.com/riboseinc/metanorma-docker

[2018-09-18 09:40] strogonoff commented on #25
@ronaldtse thanks for your suggestion, I consider reverse-engineering metanorma-cli as one of the fallback options if my question does not receive a more specific answer.

Docker is also an option, keeping it all pure Ruby would make it simpler conceptually but I’m not married to that idea. There’s also a way to be completely stack-agnostic by just calling spec sources’ Makefiles, and handling sof

[2018-09-18 09:55] ronaldtse commented on #25
Probably easier to do it "right away" 😉 .

The "caveat" is that one will need to setup the two non-Ruby associated programs: PlantUML and puppeteer, in order to achieve full functionality. Both easily setup on macOS (via Brew) but involve manual steps on Linux and Windows.

The Docker option abstracts away this, but the "caveat" is the container can only be run on a host.

[2018-09-18 10:58] strogonoff commented on #25
@ronaldtse I’m generally all for the quickest path to the results, a separate gem doesn’t seem like one until there is a proof of concept (for which the existing plugin is enough).

What would be easier IMO is adding an API to Metanorma gem which allows one to call `Metanorma::build(in_dir, out_dir, out_format)` and have it figure everything out ;)

[2018-09-22 09:35] opoudjis commented on #24
The option for isodoc shall be `data-uri-image`. Asciidoctor shall have the same option. The option will be passed to metanorma-cli as `-d` for --data-uri-image`.

[2018-09-22 10:31] ronaldtse commented on #24
Agree for being "optional". Do we need `data-uri-image` or just `data-uri` suffices? (since there won't be audio/video...)

[2018-09-22 10:50] opoudjis commented on #24
Done in metanorma-cli, metanorma-standoc, isodoc, metanorma

[2018-09-23 04:57] opoudjis commented on #24
We don't know that there won't  be video or audio in customisations of the toolset, and if there will be, their data URIs could be unworkably big. Rather keep label as is.

[2018-09-23 05:16] ronaldtse commented on #24
OK

[2018-09-23 10:02] #24 closed

[2018-09-25 05:57] ronaldtse opened #26 "Remove `system` calls"
spec/output_spec.rb

[code]

[2018-09-26 03:32] opoudjis commented on #26
Done

[2018-09-26 03:32] #26 closed

[2018-09-27 12:26] ribose-jeffreylau opened #27 "Could not build PDF"
## Steps to reproduce

Given the following files living in the same directory:

**Gemfile**

[code]

**test.adoc**

[code]

## Actual result

[code]

and no PDF files are produced.

## Expected result

PDF files are generated with no errors regarding '`puppeteer`'.

[2018-09-27 12:44] ribose-jeffreylau commented on #27
## Related

On my local macOS, tests are failing:

[code]

[2018-09-27 12:48] ronaldtse commented on #27
As described in the error, “puppeteer” is not installed. Puppeteer is the Google Chrome headless driver installed via NodeJS.

PDF generation functionality is dependent on it; please install it according to instructions.

[2018-09-27 13:08] ribose-jeffreylau commented on #27
Here's the result after following the instructions:

[code]

Check for 'puppeteer', using the same check from https://github.com/riboseinc/metanorma-macos-setup/blob/edc586ed7e45584883ea2e1be9fb84fbdeec2d93/mac#L176:

[code]

[2018-09-27 14:04] ribose-jeffreylau commented on #27
Installation process now works properly, via https://github.com/riboseinc/metanorma-macos-setup/pull/4 .

Closing this.

[2018-09-27 14:04] #27 closed

[2018-09-27 14:53] ronaldtse commented on #27
Thanks @ribose-jeffreylau !

[2018-10-16 05:34] strogonoff opened #28 "What inherits from what? (StanDoc / ISO)"
Working on docs for Metanorma, and this is a passage currently appearing on metanorma.com in FAQ for StanDoc:

What purpose does it carry? Does it mean to suggest to the reader something along the lines of “Don’t use Standoc, use ISO, it has more features you will probably need”?

[2018-10-16 09:43] opoudjis commented on #28
That paragraph is extremely important for programmers, and probably irrelevant for uses. The basic code is in standoc, and all standards classes customise that code. But you are not meant to use that code uncustomized, you are meant to always use a child gem. And that includes the Acme gem, in case you want to use default styling.

[2018-10-16 09:45] opoudjis commented on #28
if you are writing an ISO standard, use the ISO gem. If you are you writing a Chinese standard comma use the GB gem. if a predefined gem is available for your standards class, that is what you are meant to be using. If one is not available, you should make one, or use the Acme gem as a skeleton.

[2018-11-11 07:08] strogonoff commented on #28
I’m keeping this open until I’m sure metanorma.com reflects this well. I am relatively sure our primary visitors will be Metanorma end-users and we should move Standoc further under the hood.

[2018-11-11 07:12] ronaldtse commented on #28
I agree with @strogonoff -- we should separate the site content per audience -- developers (whose organizations wants to adopt) vs users (whose organization already has an adoption). The latter is surely not interested in the content for the former, they only want to know how to use the syntax/toolchain relevant to their own documents.

[2018-11-27 09:00] ronaldtse commented on #25
@strogonoff I have a new view on what you asked for. There should be:

`Metanorma.compile(in_file)` where `in_file` includes all options necessary.

What do you think? 😉

[2018-11-27 11:51] opoudjis commented on #25
I think I am not going to implement this until you make it high priority, but yes, the hooks for all this are now in place. The bulk of functionality of metanorma-cli/exe/metanorma would end up moving to metanorma-cli/lib/build (or, if you must hellishly torment me by randomly moving code all over the gem stack, metanorma/lib/build).

This is generic enough a task that somebody else in the team ca

[2018-11-28 03:04] ribose-jeffreylau opened #29 "Replace puppeteer with something more lightweight to generate PDF"
Reason: puppeteer downloads Chrome that is nearly 300MB, whereas _e.g._ PhantomJS (and its dependencies) is only 12MB.

<s>
This file size will allow us to run within the limits of AWS Lambda.

Related links:

- http://phantomjs.org/download.html
- http://phantomjs.org/screen-capture.html
- https://aboullaite.me/phantomjs-generate-pixel-perfect-pdf-reports/
- https://coderwall.com/p/5vmo1g/use-pha

[2018-11-28 10:38] opoudjis commented on #29
brew install phantomjs: will need to update https://github.com/riboseinc/metanorma-macos-setup

Someone else will need to update https://github.com/riboseinc/metanorma-linux-setup and https://github.com/riboseinc/metanorma-windows-setup

[2018-11-28 12:37] opoudjis commented on #29
Error: No available formula with the name "phantomjs"
It was migrated from homebrew/core to homebrew/cask.
You can access it again by running:
  brew tap homebrew/cask
And then you can install it by running:
  brew cask install phantomjs

[2018-11-28 19:58] ronaldtse commented on #29
@opoudjis so is the code now working with phantomjs? I can make the changes to the linux one.

[2018-11-28 20:16] ronaldtse commented on #29
@opoudjis it may be actually better to use the Ruby gem version (forked) of phantomjs, since we can directly manage its executable and path rather than relying on the different platforms.

[2018-11-28 22:17] opoudjis commented on #29
I did not get to this last night, will get to this tonight. I also am withholding judgement as to whether this is a good idea: didn't we reject PhantomJS because its output looked crap compared to puppeteer?

[2018-11-29 04:55] ronaldtse commented on #29
We also need to implement some error catching in the metanorma gem so that the lack of phantomjs in the system will not cause a crash, but a warning message so that the user can remediate. HTML and Word documents should still be produced even if phantomjs isn't installed.

[2018-11-29 11:40] opoudjis commented on #29
https://github.com/ariya/phantomjs/issues/15344 : Phantomjs is abandonware.

[2018-11-29 12:00] opoudjis commented on #29
I've generated PDF now in metanorma using both puppeteer and phantomJS.

The phantomJS output is unacceptable. See for yourself.

[rfc6350.phantomjs.pdf](https://github.com/riboseinc/metanorma/files/2628962/rfc6350.phantomjs.pdf)
[rfc6350.puppeteer.pdf](https://github.com/riboseinc/metanorma/files/2628963/rfc6350.puppeteer.pdf)

[2018-11-29 12:08] opoudjis commented on #29
it's possible we could make the choice between PhantomJS and puppeteer a config option somehow. But the default has to be puppeteer.

[2018-11-29 12:12] opoudjis commented on #29
FWIW, the phantomjs gem doesn't actually require capybara; that's a development dependency, and is only triggered if you invoke poltergeist.

[2018-11-30 02:31] ribose-jeffreylau commented on #29
Hi @opoudjis , thanks for the awesome findings.

Given the abandonware state of phantomjs, perhaps we should change the scope of this issue: to use another headless JS implementation that meets the following requirements:

- is under active development,
- has a small enough footprint (which excludes anything that requires downloading Chrome),
  - e.g. anything over the 100MB territory is too big

[2018-11-30 02:44] ronaldtse commented on #29
Darn. In any case, apparently puppeteer could be made to run within Lambda as an external download.

https://github.com/sambaiz/puppeteer-lambda-starter-kit

[2018-11-30 02:48] ronaldtse commented on #29
Sorry @opoudjis so let's get rid of phantomjs, not an option anymore since it's discontinued.

[2018-11-30 07:40] ronaldtse commented on #25
And we would want to implement this by the best arrangement amongst the gems (so, not "randomly" moving code, but yes to moving code).

[2018-11-30 07:41] ronaldtse commented on #25
The CLI options should override the options specified in the document, and should override the default options. The options can also be specified in a separate file, such as "blah.conf".

cc: @drystone can we use Nereon here?

[2018-11-30 07:42] ronaldtse opened #30 "Setup lambda version of metanorma"
From https://github.com/riboseinc/metanorma/issues/29

[2018-12-01 09:44] strogonoff commented on #25
From the outside I have a feeling that mixing document meta and build options within document header may make things slightly less intuitive and elegant, but I don’t have a strong opinion

[2018-12-01 10:15] ronaldtse commented on #25
I'd say the new solution is way *superior* to the current state. Type of document, output format of document are technically part of the metadata.

[2018-12-01 10:44] strogonoff commented on #25
No objections (if the “current state” is passing command-line flags to the build I don’t find it especially objectionable, but that’s just my perspective).

[2018-12-01 11:34] opoudjis commented on #29
I'm going through the list in https://github.com/dhamaniasad/HeadlessBrowsers, but there is not a lot there: almost all of these are Javascript testbeds, not actual browsers, let alone PDF renderers.

WeasyPrint had promise, but (a) depends on icu4c for processing Unicode, which is 63MB on Mac; (b) does not understand CSS enough to suppress the sidebar; (c) does not seem able to process Webfonts;

[2018-12-01 11:49] opoudjis commented on #29
The wkhtmltopdf precompiled binary is 50 MB. Its PDF is almost acceptable, though it mangles the tables: it understands enough Javascript to do Asciimath correctly, though not quite enough to deal with dynamic table of contents (but we're changing that anyway). The table mangling could be addressed with a CSS customisation for `@media print`.

So it's *an* option, but I don't see it being a space

[2018-12-01 12:01] opoudjis commented on #29
ghost.py is probably abandonware: https://github.com/jeanphix/Ghost.py/issues/336 https://github.com/jeanphix/Ghost.py/issues/340. It depends on QT as a rendering engine, which is a 300MB download. Couldn't get it to install on OSX, the python installer couldn't find cmake even when I installed it (and the installer is python2, so it's old). I'm not spending more time trying to get it to work.

[2018-12-04 23:51] opoudjis commented on #25
I hate it, and I don't think it's part of the metadata at all; but there's so many things I have to fight over, I've just implemented it and moved on... :-)

[2018-12-06 04:23] ronaldtse opened #32 "Create"

[2018-12-06 04:24] ronaldtse opened #33 "Create Homebrew package for Metanorma"
This issue is to create a new repo for a Homebrew package for Metanorma.

We can base the Formula off this one:

https://github.com/Homebrew/homebrew-core/blob/master/Formula/asciidoctor.rb

[2018-12-08 10:46] ronaldtse commented on #33
Superseded by https://github.com/riboseinc/homebrew-metanorma/issues/1. Closing.

[2018-12-08 10:46] #33 closed

[2018-12-08 10:46] #32 closed

[2018-12-08 12:45] opoudjis commented on #25
So, I have implemented incorporating metadata into the asciidoctor header in https://github.com/riboseinc/metanorma-standoc/issues/23. (The ticket was raised in metanorma-standoc, but the implementation was in metanorma and metanorma-cli.)

The task in this now completely misnamed ticket is not to incorporate the metadata into the asciidoctor header, which has already been done, but to implement M

[2018-12-08 12:52] opoudjis commented on #25
No. Metanorma.compile(in_file, options). This routine in metanorma is going to be called from metanorma-cli, and metanorma-cli is going to pass it the options it has; they will override whatever is in the document, if anything.

[2018-12-08 13:01] ronaldtse commented on #25
Agree to the new form. Thanks.

[2018-12-08 14:17] opoudjis commented on #25
Implemented: the options are of the same form as they are in metanorma-cli processing. So:

[code]

Where options looks like:

`{:format=>:asciidoc, :filename=>"test.adoc", :type=>"iso", :extension_keys=>["html", "xml"]}`

[2018-12-08 14:38] ronaldtse commented on #25
And if there are no options given, the options specified in the file should be used. Including type and extension keys.

[2018-12-08 16:30] #25 closed

[2018-12-08 16:38] opoudjis commented on #25
I have not implemented conf; @ronaldtse, could you get someone else to? I haven't worked out how to do gem configs yet, but I figure someone else has.

[2018-12-08 18:46] ronaldtse commented on #25
@opoudjis what does `conf` mean? And what about "gem configs"?

[2018-12-09 00:42] opoudjis commented on #25
I haven't looked into best practice for how to configure the behaviour of a gem locally.

[2018-12-09 00:44] opoudjis commented on #25
Those are the only options implemented within the asciidoc header so far

[2018-12-09 14:55] strogonoff commented on #30
I know it probably is not that relevant given Metanorma is built in Ruby, but there’s as of very recently a Rust runtime in Lambda 😋 https://aws.amazon.com/blogs/opensource/rust-runtime-for-aws-lambda/

[2018-12-09 14:56] strogonoff commented on #30
(Personally about the web build on Metanorma.com so far for simplicity as an MVP I’m going with an EC2 instance providing an API supporting file upload, which can be called from the front-end, returning a download or download link to generated output)

[2019-01-03 18:36] ronaldtse opened #34 "Add AppVeyor badge"
https://ci.appveyor.com/api/projects/status/t8irmy9iq4xf1ouy?svg=true

[2019-01-17 21:44] CAMOBAP795 opened #37 "Wrong file lookup path for --type csd"
When we run `metanorma` with `--type csd` outside directory where adoc file placed, tried to lookup files in wrong path

Initially found here https://github.com/riboseinc/homebrew-metanorma/pull/2#issuecomment-455129746

[2019-01-17 21:49] CAMOBAP795 commented on #34
Done

[2019-01-17 21:49] #34 closed

[2019-01-18 15:17] opoudjis commented on #37
I cannot replicate on Mac, but I *think* I know what the fix is; it's the fix I've just had to do for image processing in outside directories: https://github.com/riboseinc/metanorma-nist/issues/38

[2019-01-18 15:31] opoudjis commented on #37
Replicated (it's the absolute path that triggers it, not a relative path).

[2019-01-18 15:38] opoudjis commented on #37
Issue is in metanorma gem: it is assuming the URL of the PDF HTML document is relative, which is incorrect.

[2019-01-18 15:44] opoudjis commented on #37
Fixed in metanorma gem.

[2019-01-18 15:44] #37 closed

[2019-02-24 05:44] strogonoff commented on #28
As an update, the site now does separate the docs (/author and /builder). Builder documentation has ways to go, the plan is to document more low-level details, including the StanDoc inheritance chain.

[2019-02-27 23:06] opoudjis opened #38 "Move all metanorma-associated gems to metanorma github repository"

[2019-02-27 23:06] opoudjis commented on #38
@ronaldtse you will need to set up the repository

[2019-03-03 09:50] strogonoff commented on #38
Are we moving towards single-repo model? Or do we keep separate repos but create a separate “metanorma” org on GitHub?

[2019-03-03 09:51] ronaldtse commented on #38
We're going to move towards the "metanorma" org. But due to the admin effort amounted, we're going to take our time doing so...

[2019-03-03 09:54] strogonoff commented on #38
Got it, org is a great idea IMO, was thinking about it too

[2019-03-05 10:24] opoudjis opened #39 "Extract requirements from document"
Patterned after https://github.com/riboseinc/metanorma-standoc/issues/42

[2019-03-09 07:54] opoudjis opened #40 "Request for more repositories to be migrated to github.com/metanorma"
The following must move:

https://github.com/riboseinc/metanorma-sample
https://github.com/riboseinc/metanorma-unece

The following should move, because all comparable repos in their class are already there:

https://github.com/riboseinc/basicdoc-models
https://github.com/riboseinc/ietfbib
https://github.com/riboseinc/gmt-0010-2012

The following should move:

https://github.com/riboseinc/iso690re

[2019-03-09 11:15] opoudjis commented on #40
Done, thank you

[2019-03-09 11:16] opoudjis commented on #40
Actually, sorry, nistbib also needs to migrate

[2019-03-09 11:19] ronaldtse commented on #40
All done!

[2019-03-09 11:19] #40 closed

[2019-03-09 12:10] #38 closed

[2019-03-10 03:22] opoudjis commented on #39
Duplicated by https://github.com/metanorma/metanorma-cli/issues/28

[2019-03-10 03:22] #39 closed

[2019-03-18 14:12] ronaldtse opened #41 "Windows compatibility specs"
For @CAMOBAP795 (cc @opoudjis )

Since Metanorma is now useable on Windows, we want to keep it working this way.

The following gems need to incorporate Windows tests (on AppVeyor):
* metanorma-* processors
* https://github.com/metanorma/metanorma-cli
* https://github.com/metanorma/isodoc, https://github.com/metanorma/html2doc

* https://github.com/metanorma/unicode2latex
* https://github.com/meta

[2019-03-22 15:27] CAMOBAP795 commented on #41
@ronaldtse @opoudjis let me post quick summary (with focus on issues and next steps)

#### Travis & Appveyor failures
 - https://github.com/metanorma/metanorma-nist/pull/78 - highly likely broken in https://github.com/metanorma/metanorma-nist/commit/644f007f0a1703c4a4d375761cd82f666a2dbd01
 - https://github.com/metanorma/metanorma-cli/pull/31 - highly likely broken in https://github.com/metanorma/

[2019-03-22 15:33] ronaldtse commented on #41
This was purely to prevent bundler using the old version (when it first came out). It's not necessary.

What do you mean as VCS?

Makes perfect sense!

Can we use Chocolatey for Travis Windows? If so can't we build on them?

[2019-03-22 15:38] CAMOBAP795 commented on #41
@ronaldtse

Sorry for confusion I mean git

yep, it's preinstalled. we will just need to write own logic to install/uninstall right versions of ruby, except this I think no difficulties

[2019-03-22 16:19] ronaldtse commented on #41
Can you elaborate what test data needs to be downloaded?

Then I think we should go for it!

[2019-03-22 16:24] CAMOBAP795 commented on #41
I will collect this info during tests fixing

Yep, once I will fix tests, I will try it on some project and compare it with appveyor in action

[2019-03-22 16:37] ronaldtse commented on #41
Ah -- maybe you mean the Relaton files (fetching bibliographic information from the internet). We will want to stub them in Metanorma. The fetching should be tested in the Relaton gems themselves (e.g. https://github.com/riboseinc/isobib)

[2019-03-24 07:39] CAMOBAP795 commented on #41
Let me summarize status here:
 - `metanorma/metanorma-nist` - resolved
 - `metanorma/metanorma-cli` - resolved
 - metanorma/gbbib#18 - assigned to @andrew2net
 - `metanorma/ietfbib` - fixed by disabling ruby2.3, PR ready for review https://github.com/metanorma/ietfbib/pull/14
 - `metanorma/relaton` - fixed, PR is ready for review https://github.com/metanorma/relaton/pull/28
metanorma/html2doc#18

[2019-03-25 08:19] opoudjis commented on #41
* Have referred https://github.com/metanorma/itubib/issues/4 to @andrew2net
* Have resolved https://github.com/metanorma/html2doc/pull/20
* Am still investigating https://github.com/metanorma/metanorma-gb/issues/96

[2019-03-27 04:14] ribose-jeffreylau opened #43 "Better support for cleaning out generated files"
Currently, when one wants to do `make clean`, one must rely on some sort of Makefile magic to guess what files are being generated by `metanorma`.

I see two ways going about this:

1. Make `metanorma` output the list of files it would generate, to STDOUT, so other utilities like `make` could make use of it.  Some sort of dry run.
2. Make a `metanorma clean` sub-command / option flag that cleans f

[2019-03-29 19:55] CAMOBAP795 commented on #41
Update:

Ready for review:
 - https://github.com/metanorma/gbbib/pull/20
 - https://github.com/metanorma/nistbib/pull/5
 - https://github.com/metanorma/iev/pull/9
 - https://github.com/metanorma/reverse_asciidoctor/pull/15
 - https://github.com/metanorma/metanorma-sample/pull/4
 - https://github.com/metanorma/metanorma-acme/pull/3

Left:
 - https://github.com/metanorma/metanorma-ietf - fails on ap

[2019-03-31 11:23] CAMOBAP795 commented on #41
@opoudjis After https://github.com/metanorma/metanorma-standoc/commit/f5cfc0126213e43712cbb2512b28b10ec6f8486d assertion failed `expect(html).to include('\o "1-3"')`

Maybe there is misstype? because `expect(html).to include('\o "1-2"')` works

[2019-04-01 16:40] strogonoff opened #44 "Support IATA?"
If ideas where to expand are useful, there is an organization that publishes standards which we currently do not cover: IATA.

[2019-04-01 16:42] ronaldtse commented on #44
Great idea, but it's a bit more complex than the others. 😉

[2019-04-01 22:09] opoudjis commented on #44
Grrrrrr...

[2019-04-02 02:56] ronaldtse opened #45 "Metanorma Template Repositories requirements"
A Metanorma "template repository" is one that provides a directory filled with Metanorma document templates for a certain flavor.

A template can be created in the local directory through the `metanorma new` command (https://github.com/metanorma/metanorma-cli/issues/13).

We currently have two built/functional template repositories:
* For CSD: https://github.com/metanorma/mn-templates-csd
* For OG

[2019-04-02 03:30] opoudjis commented on #45
Question 1: should we allow a template repository to support multiple flavors?

Question 2: should we move the definitions of the template repositories (the addresses of Git repos) in its own gem (e.g. metanorma-csd instead of metanorma-cli)

[2019-04-02 04:10] ronaldtse commented on #41
I think @opoudjis mentioned somewhere that this test is pending for a dependent gem update.

[2019-04-02 04:23] ronaldtse commented on #45
We can also relax the templates a bit -- such as for NIST, we can have `nist-sp-800` vs `nist-sp-500`, which are not technically document types (the document type for both are `nist-sp`), but will be useful for those who write them since they utilize specialized attributes and document structures.

[2019-04-02 05:50] CAMOBAP795 commented on #41
Yep:

[2019-04-02 08:42] opoudjis commented on #45
Q1: I hate the proliferation of repositories in Metanorma, but that's because I wanted the templates hosted inside the gem for each flavour. If there is going to be external repositories, then it does make more sense for each flavour to have a separate repository: they will ultimately be updated by completely different people.

Q2: I don't quite understand the question. These templates are invoked

[2019-04-03 02:54] ronaldtse commented on #45
Q1: The goal is to have the different repositories updated by different people. So we agree.

Q2:

While the templates are invoked by `metanorma-cli`, the goal is to have `metanorma-xxx` be maintained by different people from those of `metanorma-cli`. If we put the template repository address inside `metanorma-cli`, the people who manage `metanorma-xxx` will need to make a PR to metanorma-cli in o

[2019-04-04 19:58] CAMOBAP795 commented on #41
@ronaldtse @opoudjis I propose to close this task because only https://github.com/metanorma/itubib/pull/6 issue is left and it's not related to appveyor integration

[2019-04-05 08:15] opoudjis commented on #45
Fine. I thought these were going to end up separate repositories anyway.

At first light, I'd rather the former, for flexibility; but I can see that noone is going to want to maintain two templates in tandem that differ only in their subdirectory structure. If the latter option is easy, I'd request that.

As symbolic links? Even so, symbolic links will end up mangled by non command-line users, who

[2019-04-05 09:16] #41 closed

[2019-04-05 15:47] ronaldtse commented on #45
The challenge with this is that we need to run an AsciiDoc parser over it, and that the include paths within `sections/xx.adoc` need to be adjusted to start from root. e.g. if `sections/xx.adoc` has `include:blah.adoc[]` then we need to adjust the include to `include:sections/blah.adoc`.

Maybe the former ("We could have templates that have a directory and ones that don't.") is simpler conceptuall

[2019-04-07 02:17] ronaldtse commented on #30
AWS Lambda now supports Ruby and we could possibly build the Lambda version for it now.

Here are some offline comments from @strogonoff :

[2019-04-07 08:53] CAMOBAP795 opened #46 "Setup travis CI for OSX"
PoC https://github.com/metanorma/metanorma-cli/pull/39

Apply to all repos similarly to #41 task

cc @ronaldtse

[2019-04-07 09:00] ronaldtse commented on #46
Confirmed. Thanks!

[2019-04-07 16:50] CAMOBAP795 commented on #46
Issues:
 - https://github.com/metanorma/metanorma-document-gh-pages

[2019-04-08 01:50] opoudjis commented on #45
I've already had to do this in https://github.com/metanorma/metanorma-standoc/issues/54. I think it is a misfeature to have to do this, but it is also not a legitimate objection if it's already been done.

[2019-04-08 01:53] opoudjis commented on #45
Far less than the risk of NOT renaming the documents, and having them accidentally included. In fact, so much less risk, I'm having trouble believing it.

One more thing to go wrong, one more thing for users to forget to update. You either make Metanorma droolproof, and usable by people who should instead be using Word, or you make it exhaustively configurable, and ensure that experts forget to tu

[2019-04-08 06:38] ronaldtse opened #48 "Use consistent Travis configuration files across gems and documents"
Originally from https://github.com/metanorma/unicode2latex/pull/3

This issue is to apply the same Travis configuration across:

* Metanorma gems
* Metanorma gems (with atypical dependencies, e.g. external tools)
* Metanorma documents

---

Original discussion:

Yes. Those are the outliers that we have to handle separately.

Agree.

Right, but we can use a common `.travis.yml` from a common place

[2019-04-08 06:53] CAMOBAP795 commented on #48
I'm not sure about this, but https://github.com/travis-ci/travis.rb can help us to manage configuration

Anyway let me first finish #46 I will see whole picture once it will be done

[2019-04-09 04:47] ronaldtse commented on #30
New repo created here: https://github.com/metanorma/metanorma-lambda

[2019-04-09 07:09] ronaldtse opened #49 "Support parallel execution of Metanorma"
[code]

Output:

* Since all of these input files are in the same directory, the way Metanorma uses the local directory for temporary files (e.g. `htmlstyle.css`) causes race conditions.
* Solution: DO NOT use the local directory as a temporary directory. The document should be should be generated in a new+separate temp directory.

[code]

[2019-04-09 11:05] CAMOBAP795 commented on #46
I have missed next repos for both OSX & Windows:
 - https://github.com/metanorma/metanorma-vsd
 - https://github.com/metanorma/metanorma-itu

@ronaldtse @opoudjis should I add Windows OSX CI for them too?

[2019-04-09 11:21] ronaldtse commented on #46
Yes @CAMOBAP795 . Thanks!

[2019-04-09 11:51] opoudjis commented on #46
@ronaldtse Why does metanorma-vsd exist, and does it still need to?

[2019-04-09 20:30] CAMOBAP795 commented on #46
Broken tests
 - [ ] https://github.com/metanorma/metanorma-nist/pull/96
 - [ ] https://github.com/metanorma/metanorma-ogct/pull/31
 - [ ] https://github.com/metanorma/metanorma-vsd/pull/2

Waiting for CI/Ready for review
 - https://github.com/metanorma/metanorma/pull/47
 - https://github.com/metanorma/metanorma-itu/pull/8
 - https://github.com/metanorma/isodoc/pull/93
 - https://github.com/metanor

[2019-04-11 15:56] ronaldtse commented on #46
@opoudjis this is for corporate usage, and yes it still should exist. I just didn't get to let you know 😉  It was based on the Acme or Sample flavor and has nearly no code (except the HTML template). Is it possible to reduce it further?

[2019-04-13 12:08] opoudjis commented on #46
Without a separate ticket, and a lot more context, I cannot answer that; it is a job.

[2019-04-14 22:55] opoudjis commented on #45
I am going to do things your way, with README.adoc, unless you acknowledge the above concerns. I have explained why this is a bad idea, and a manifest is an even worse idea; but there is only so much I can take on.

Please close the ticket if you insist on README.adoc. Please assign someone a task to concatenate sections, if you think it is useful to.

[2019-04-15 04:27] ronaldtse commented on #45
It is probably easier to manually create separate templates rather than do the automatic flattening.

Well, maybe it is easier if we put `README.adoc` in `docs/README.adoc`. Then one can run `metanorma *.adoc`.

We might not need it now, but I can see the need coming soon with the Registry...

[2019-04-15 09:15] opoudjis commented on #45
Then keep it in the registry, and keep it away from the template, where it will do damage.

[2019-04-15 09:18] opoudjis commented on #45
Once again, you are guaranteeing that users other than yourself are going to be confused.

Users are going to see *.adoc, and think "I have to edit this, this is content". If you've got auxiliary help me files, for God's sake, DON'T MAKE THEM .adoc files. Leave them as .txt. You don't need the formatting.

[2019-04-15 13:25] CAMOBAP795 commented on #48
### Research

I have finished the research and looks like there is no existing solution for this:
 - no way to keep `.travis.yml` config
 - no way to use `travis.rb` to modify all repositories at once (master script need to be written for this)

### Proposed solution

The only solution which I see right now is to create configuration based on `repo` tool https://gerrit.googlesource.com/git-repo/ :

[2019-04-15 13:36] CAMOBAP795 commented on #48
@ronaldtse @opoudjis how do you think about comment above?

[2019-04-15 13:40] CAMOBAP795 commented on #46
@ronaldtse @opoudjis I think we are ready to close this task

[2019-04-19 06:43] #46 closed

[2019-04-20 10:07] opoudjis commented on #48
If this is a one off operation, then sure, what do I care.

If I have to run the script every time the central Travis repo changes, well, I can get around to it, or you can do it. Not that big a deal.

... If I have to manually remember to do this every time I do a release, I will not do it. I'd rather the Travis instances stay redundant.

[2019-04-20 11:03] CAMOBAP795 commented on #48
This script will not correlate with releases, it just to keep CI (Travis/Appveyor) configuration consistent across many repositories, and will be executed on-demand

Let me show an example when we may use this script: we need to add a new ruby version to our CI 2.6.x and remove 2.3.x

Currently, I need to create every PR manually, but with this script, I will need to:
 - Update 'master' configurat

[2019-04-21 01:36] opoudjis commented on #48
A-OK, as long as it's not routine.

[2019-04-21 22:26] ronaldtse commented on #48
@CAMOBAP795 thanks, I think this approach is good to go. Thanks!

[2019-04-21 22:26] ronaldtse commented on #48
(Please write it in Ruby using the GitHub gem, thanks!)

[2019-04-22 11:05] ronaldtse opened #52 "Support citation of full Relaton references"
In Metanorma XML, there are actually two types of references:
* Full references, which use the Relaton data model
* Simple references, the ones manually inputted.

`<formattedref>` used for simple references is actually a “hack” — it is only used when the full bibliographic data isn’t available.

This is best demonstrated with examples.

In Metanorma AsciiDoc files, if you see:
[code]

The `{publi

[2019-04-22 11:06] ronaldtse commented on #52
e.g. For the second case, suppose I have this in a BibTeX file:

[code]

Then I can do this in Metanorma:

[code]

[2019-04-22 11:13] opoudjis commented on #52
This is distinct from what I will end up having to do, which is render those citations, with an idiosyncratic stylesheet no doubt for each goddamn standard.

[2019-04-24 15:05] CAMOBAP795 commented on #52
In progress

[2019-04-24 17:52] ronaldtse commented on #52
@opoudjis we need a bit more discussion on this. There is often a designated citation style of the publication (e.g. ISO 690 for ISO documents) that should be applied. I'm not sure why we need an idiosyncratic stylesheet?

[2019-04-26 00:10] opoudjis commented on #52
The stylesheet is specific to the standard of the containing document, not the standard of the cited reference.

[2019-04-26 01:47] ronaldtse commented on #52
Right, and by "stylesheet" here you mean "citation rendering rules". Indeed.

[2019-04-26 06:28] ronaldtse opened #53 "Implement Metanorma template repositories for supported SDOs"
* [x] OGC (all done)
* [x] NIST (done for now)
* [x] CSD (mostly done -- check https://standards.calconnect.org/csd/cc-10001.html
* [x] ISO (only done for international-standard done, need to complete the other document types https://github.com/metanorma/mn-templates-iso/issues/2)
* [x] ITU
* [x] UN/ECE (recommendation and plenary)
* [x] IETF
* [ ] ~~GB~~ (no longer supported)
* [x] M3AAWG

[2019-04-29 08:34] opoudjis commented on #53
I'm still only working for you 15 hrs a week.

[2019-04-29 15:37] ronaldtse commented on #53
One day we need to complete these, so maybe we can get these done in May.

[2019-04-29 15:58] ronaldtse commented on #49
This is related to https://github.com/metanorma/metanorma-standoc/issues/53 .

@abunashir do you have time for this? Thanks!

[2019-04-30 01:56] opoudjis commented on #45
Since the published templates have README.adoc, I am closing this ticket. I can only advise.

[2019-04-30 01:56] #45 closed

[2019-05-09 21:33] CAMOBAP795 commented on #52
@opoudjis just to be on the same page, because you took https://github.com/metanorma/relaton/issues/33, should I leave this one for you?

[2019-05-10 08:23] ronaldtse commented on #52
Further clarification -- the citation rendering should utilize CSL, which is a combination of:
* https://github.com/inukshuk/citeproc
* https://github.com/inukshuk/csl-ruby

We will need to create a ISO 690 CSL schema because the current one cannot produce ISO 690 style (esp. citation of an ISO Standard).

[2019-05-13 12:13] opoudjis commented on #52
@ronaldtse is once again racing much too far ahead in his last comment, and there are a lot more connective steps that need to be put in place.

I desperately want to offload some work, but work cannot be offloaded until it is ready. And there is some unacceptable handwaving in this ticket.

This ticket falls under the stuff I tentatively assigned to Abu Nashir in https://github.com/metanorma/rela

[2019-05-15 12:26] opoudjis opened #54 "FYI: Metanorma and Relaton gem dependencies"
Not... really the way to this, but I don't have your details to email you this information.

![metanorma](https://user-images.githubusercontent.com/1911039/64015971-17094980-cb69-11e9-931f-da93ce50d492.png)

# Metanorma:

No dependencies: Mathematical formatting gems

unicode2latex
omml2mathml
mathml2asciimath

Mathematical formatting dependency

mathml2asciimath -> reverse_asciidoctor

No depende

[2019-05-16 03:23] opoudjis commented on #49
Assigned this to @abunashir and @CAMOBAP795. There is no way I am going to get to this in a hurry.

[2019-05-16 09:01] CAMOBAP795 commented on #49
@opoudjis @ronaldtse I will have a look after https://github.com/metanorma/metanorma/issues/48

[2019-05-16 10:14] opoudjis commented on #49
Unassigning myself and @abunashir. @CAMOBAP795 if after a month you haven't gotten to this, assign it back to me.

[2019-05-18 08:25] ronaldtse commented on #48
@CAMOBAP795 is this being done? Thanks!

[2019-05-18 08:37] CAMOBAP795 commented on #48
@ronaldtse I would say %70 done, here is intermediate results https://github.com/metanorma/metanorma-build-scripts/tree/feature/ci-master-tool

I plan to finish it in the next 2 days

[2019-05-20 02:25] opoudjis commented on #48
Btw, whatever happens, can we start dropping support for Ruby 2.3? We need to reduce execution time drastically on regression testing.

[2019-05-20 02:41] ronaldtse commented on #48
@opoudjis yes, we can. We will need to make sure that those people that run Ruby 2.3 gets an error message - gemspec (https://stackoverflow.com/questions/5004492/how-do-you-specify-a-minimum-ruby-version-in-a-gemspec)

[2019-05-20 02:45] opoudjis commented on #48
So while I am presumably not touching any of the Travis configs to drop Ruby 2.3, because that's this ticket, once it is in place, I have a separate task to break Ruby 2.3 on all gemspecs.

[2019-05-20 02:46] opoudjis opened #56 "Remove Ruby 2.3 support on all gemspecs in Metanorma"
Waits on #48

[2019-05-27 16:56] ronaldtse opened #57 "Citation from/to another Metanorma document"
Right now we cite like this:

[code]

But we will also want to cite from another Metanorma document on disk or in a registry.

Here's a proposed syntax.

[code]

Something like this.

Thoughts @opoudjis ?

[2019-05-29 01:05] opoudjis commented on #56
We will need to make sure that those people that run Ruby 2.3 gets an error message - gemspec (https://stackoverflow.com/questions/5004492/how-do-you-specify-a-minimum-ruby-version-in-a-gemspec)

[2019-05-29 08:29] ronaldtse opened #59 "Generated HTML document relies on internet access"
Today's Metanorma HTML documents depend on a number of dependencies from the Internet, including:

* MathJAX at cloudflare
* JQuery at Google
* `toc.js` from rawgit.com
* Fonts from Google
* FontAwesome from font awesome
* `prettify.css` from `jsdelivr.net`

However, we must be able to package all these dependencies inside the HTML for error-free display. For example, even when my WiFi is offline,

[2019-05-29 11:11] opoudjis commented on #48
OK, I think we can close this, thank you.

[2019-05-29 11:13] opoudjis commented on #56
Adjusting the config scripts from #48 to remove 2.3.

Some gemspecs have 2.3 minimum. Will now make all gemspecs have 2.4 minimum.

[2019-05-29 11:36] opoudjis commented on #48
Not so much:

`repo` does not work for me: From what I gather, I need to install git-repo, which you have not said in the README. Please refer README to https://source.android.com/setup/build/downloading

[2019-05-29 11:48] opoudjis commented on #56
I can't get the scripts to work, and I am not motivated to spent the next hour trying. Please run the script to remove Ruby 2.3 from Travis.

[2019-05-29 12:34] CAMOBAP795 commented on #48
@opoudjis new PR to improve README.md added https://github.com/metanorma/metanorma-build-scripts/pull/8

Probably related to the fact that PR wasn't merged to master at that time, could you please confirm that issue still exists?

[2019-05-29 13:20] CAMOBAP795 commented on #48
@opoudjis actually there is no need any diving into python

Generally, the solution consists of several tools (which implemented with different technologies):
 - [repo](https://source.android.com/setup/develop/repo) - allows to clone set of repos in 2 commands, support both python2 & python3
 - [git-multi](https://github.com/tkrajina/git-plus) - allows to execute `git COMMAND` in a batch mode, sup

[2019-05-30 02:16] opoudjis commented on #59
https://github.com/metanorma/isodoc/issues/79, which was simply to get the ToC to be statically populated, has been unactioned since November. The notion that we should be packaging JQuery with all our generated HTML (!!!) is...

... well, let's just say I think someone else should be doing this task.

[2019-05-30 04:44] opoudjis commented on #48
Issue still exists, and since it's a permissions issue, and the only update has been in the readme, I don't see why it wouldn't still exist.

[code]

[2019-05-30 04:48] opoudjis commented on #48
That's bad practice, hardcoding a relative path between two independent folders; you did not say at the start that mn-root is a sister directory of metanorma-build-scripts, and you shouldn't be assuming it is. You should be saying `git -C {mn-root} multi checkout master`, and let the user deal with populating where they have created mn-root.

[2019-05-30 04:48] ronaldtse commented on #48
@opoudjis is your SSH public key uploaded to your GitHub account for access?

[2019-05-30 04:49] ronaldtse commented on #48
And indeed hardcoding relative paths is bad. That’s why I said should extract ci-master.

[2019-05-30 04:50] opoudjis commented on #48
No. I take it it is supposed to be?

[2019-05-30 04:51] ronaldtse commented on #48
To be able to access GitHub repos via SSH your SSH public key needs to be associated with your GitHub account.

[2019-05-30 05:18] opoudjis commented on #48
Error in repo sync persists after me giving github my ssh. I've had to enter my SSH password several dozen times, once apparently for each repository, and it only ended up checking out two repositories.

Getting this working is a very low priority for me.

[2019-05-30 05:20] ronaldtse commented on #48
Ah. To get rid of the SSH prompt, you should either be using `ssh-agent`, or do not set a password for the SSH key...

[2019-05-30 05:24] opoudjis commented on #48
It worked.

[2019-05-30 05:52] opoudjis commented on #56
n/m, got it working

[2019-05-30 05:52] #56 closed

[2019-05-30 05:55] opoudjis commented on #48
Worked. There were things that should have been documented better: run bundle install in ci-master, make sure you've got ssh-agent running and an uploaded SSH key, make sure you install git-plus only in Python2 and not Python3 (because it will attempt to run the git-multi as Python3 but it is in fact Python2 code.)

[2019-05-30 05:55] #48 closed

[2019-05-30 06:34] CAMOBAP795 commented on #48
They are not, `metanorma-build-scripts` declared in https://github.com/metanorma/metanorma-build-scripts/blob/master/default.xml#L106

So I can not agree that they are independent

@opoudjis I just wondering previously you have used git only via http?

 - "run bundle install in ci-master" - good point, I will add it
 - "make sure you've got ssh-agent running and an uploaded SSH key" - aren't we as

[2019-05-30 11:31] ronaldtse opened #60 "HTML output needs to comply with W3C validator"
Using the W3C validator (https://validator.w3.org/) , the Metanorma HTML output (https://standards.calconnect.org/csd/cc-10005.html) is shown to have 50 errors and 32 warnings.

Somehow the document is given as `xhtml`, not `html`. The HTML should certainly be HTML5 compliant.

<img width="754" alt="Screen Shot 2019-05-29 at 4 24 20 PM" src="https://user-images.githubusercontent.com/11865/58541500

[2019-05-30 22:33] opoudjis commented on #48
mn-root is not mentioned in default.xml

I had not set my SSH in my GitHub account settings, so I guess I was only using http. That's certainly all I ever cloned with.

[2019-05-31 04:44] ronaldtse opened #61 "Packing Metanorma into a single executable"
This looks promising:
http://nts.strzibny.name/making-a-ruby-executable-with-ruby-packer/

Here's the slides for `nodec` the Node.js version of this:
https://speakerdeck.com/pmq20/node-dot-js-compiler-compiling-your-node-dot-js-application-into-a-single-executable?slide=82

[2019-05-31 04:50] ronaldtse commented on #61
https://ruby-china.org/topics/34684

https://speakerdeck.com/pmq20/rubyconf-2017-packing-your-ruby-application-into-a-single-executable

[2019-05-31 06:04] CAMOBAP795 commented on #48
Yes because this isn't a repository, mn-root just a dir to aggregate all repos described in default.xml

[2019-06-05 11:40] ribose-jeffreylau opened #62 "Create Nix package for Metanorma"
As titled.

From the official site: https://nixos.wiki/wiki/Nixpkgs/Create_and_debug_packages

We received feedback from CalConnect meeting (Bedford UK 2019) that there is interest in having Nix as a way to install metanorma.  This would enable a more streamlined metanorma workflow for systems using Nix.

cc: @danielgrigore

[2019-06-09 07:07] ronaldtse opened #63 "Create snap package for metanorma"
Snap is an updated package management system from Canonical used by Ubuntu.

A snap package should be created for Metanorma and its dependencies for an easier install (as replacement for https://github.com/metanorma/metanorma-linux-setup/blob/master/ubuntu.sh)

[2019-06-10 06:49] CAMOBAP795 commented on #63
@ronaldtse really good idea because it supports many distros https://docs.snapcraft.io/installing-snapd

[2019-06-11 10:58] ribose-jeffreylau opened #64 "TOC click targets don't match visual targets"
Clicking on a highlighted TOC entry does not guarantee pointing to the correct URI fragment.

See screenshots below.

## Expected behaviour

<img width="358" alt="Screenshot 2019-06-11 at 6 54 12 PM" src="https://user-images.githubusercontent.com/2649467/59266521-5e72ee80-8c7a-11e9-923d-1a8aa6b5ab35.png">

## Unexpected behaviour

<img width="358" alt="Screenshot 2019-06-11 at 6 53 57 PM" src="htt

[2019-06-11 18:29] CAMOBAP795 commented on #49
Blocked by https://github.com/metanorma/metanorma-standoc/issues/53

[2019-06-19 16:24] CAMOBAP795 commented on #63
@ronaldtse could you please create a separate repo metanorma-snap

[2019-06-20 01:45] ronaldtse commented on #63
@CAMOBAP795 I think you can create it but I just did it: https://github.com/metanorma/metanorma-snap

[2019-06-20 13:01] andrew2net opened #66 "Error: nits format is not supported for this standard."
I try to run the command:
[code]
Here is the file [`sources/draft-calext-vpoll.adoc`](https://github.com/CalConnect/csd-vpoll/blob/master/sources/draft-calext-vpoll.adoc).
And got the error:
[code]
Have any idea?

[2019-06-20 19:21] celic opened #68 "Failed to load command metanorma"
Running the `Makefile` I end up with the following stack trace...

[code]

Could this be caused by the `adoc` I'm converting or could this be a bug in `metanorma`? I'm having a bit of trouble diagnosing this as it doesn't seem to point out an error in the `adoc` or `.tmp.xml`.

[2019-06-25 13:43] opoudjis commented on #64
Impossible for me to replicate, but there is a mangled hyperlink wrapper around the entire table of contents; I will try to get rid of it.

[2019-06-25 14:04] ribose-jeffreylau commented on #64
Perhaps the following would illustrate the problem better:

# Sub-issue 1

I believe this is caused by the mangled `<a>` wrapper that you mentioned.

## Clicking on the outer "yellow" area would go to `#toc`

<img width="697" alt="Screenshot 2019-06-25 at 9 49 02 AM" src="https://user-images.githubusercontent.com/2649467/60103964-88beb480-972e-11e9-86d5-47bbb73f277d.png">

# Sub-issue 2

The follo

[2019-06-25 14:29] opoudjis commented on #64
I've been trying to work out why the wrapper is there at all; it does indeed point to the #toc itself. I can't find any reason on the code archives, so with some hesitation, I'm disabling the wrapper.

[2019-06-25 14:42] opoudjis commented on #64
I've gotten rid of the wrapper, which I can't find justification for; I clearly copied it from the script sample page at the time, but the script seems to work fine without it. Will be reflected in next gem release.

[2019-06-25 15:41] ribose-jeffreylau commented on #64
Thanks.  Does the fix address sub-issue 2?  The hover visual highlight of `<li>` extends beyond the area of the containing `<a>` which means it is not always the case, that when the user sees the item being highlighted, that clicking would actuate the `<a>`.

[2019-06-26 00:33] opoudjis commented on #66
I hate this project.

Please assign tickets to me, I am not going to notice otherwise.

I don't know why the txt file is over in /tmp; this may be someone else already implementing the task to store temporary files in /tmp, but why would text files be impacted?

Will investigate.

[2019-06-26 07:36] ronaldtse commented on #66
This issue is actually due to the `nits` word being inserted into `:mn-output-extensions:`. It might be beneficial to integrate `xmlrfc` into Metanorma IETF, but it is not a bug right now.

[2019-06-26 07:36] #66 closed

[2019-06-26 10:47] opoudjis commented on #64
I can't reproduce the hover behaviour you're describing; I think the most useful thing to happen here is for me to send you the current HTML, and for you to tell me what you want the HTML to change to. Failing that, we can refer to @pierrefortier.

[a.html 3.zip](https://github.com/metanorma/metanorma/files/3329608/a.html.3.zip)

[2019-06-26 13:18] CAMOBAP795 commented on #63
Left
 - [ ] move metnorma to organization level https://forum.snapcraft.io/t/move-unregister-metanorma-snap/11994
 - [ ] setup CI https://tutorials.ubuntu.com/tutorial/continuous-snap-delivery-from-travis-ci#0
 - [ ] latexml install
 - [ ] plantuml install

[2019-06-26 19:01] ribose-jeffreylau commented on #64
Thanks.  I made some changes to the CSS and now the click target area aligns perfectly with the hover visual highlight area:

[code]

[code]

Note: The above most probably doesn't correspond directly to the source code --- these lines are copied from the browser's code inspector.

[2019-06-26 19:06] ronaldtse commented on #64
Thanks guys, reopening this so it's not lost.

[2019-06-30 05:54] opoudjis commented on #64
Making fixes, rolling out into next release (today)

[2019-06-30 05:54] #64 closed

[2019-07-05 06:17] CAMOBAP795 commented on #63
@ronaldtse I need your help
 - run `snapcraft enable-ci travis --refresh` on master and commit updated `.travis.yml`
 - could you please add info https://forum.snapcraft.io/t/move-unregister-metanorma-snap/11994/5 about the account where admins should move `metanorma` snap, I will confirm your comment by own comment

[2019-07-09 03:39] ronaldtse commented on #63
@CAMOBAP795 I'm using Ubuntu but having this issue:

[code]

Clearly the `source` is filled in `snapcraft.yaml`...

[2019-07-09 03:41] ronaldtse commented on #63
@CAMOBAP795 and if I remove `metanorma-cli`, I get this:

[code]

[2019-07-09 03:41] ronaldtse commented on #63
P.S. I'm using the docker image `ubuntu:latest`.

[2019-07-09 03:50] ronaldtse commented on #63
@CAMOBAP795 can you post in the forum to transfer the snap to the username "metanorma"?

[2019-07-10 10:59] ronaldtse commented on #63
Ping @CAMOBAP795

[2019-07-10 11:03] CAMOBAP795 commented on #63
@ronaldtse posted a message to transfer, regarding problems with `snapcraft enable-ci travis --refresh` let me doublecheck

[2019-07-10 11:28] ronaldtse commented on #63
Thanks!

[2019-07-14 07:25] ronaldtse commented on #68
@celic sorry for the delay in replying -- is this still an issue?

[2019-07-14 07:48] opoudjis commented on #68
@celic, for bug reports in general, please provide the source Asciidoctor file, and details of how you're running this. Note also that we have been maintaining the Metanorma stack in Ruby 2.4 and 2.5 for the past few months, so the default Ruby installation you're using, 2.3, is running obsolete Metanorma code.

Now. The complaint in the code is that passthrough blocks are not being dealt with (`+

[2019-07-14 07:53] ronaldtse commented on #68
@celic if you can point out to the file that’s causing this error (if it is open source).

The metanorma processor for RFC has a slight caveat — the references don’t work like the NIST version, because it was built using an older framework. We’re going to rectify this, but right now references in Metanorma RFC must be entered in XML pass through format.

Here’s the minimal working template you can

[2019-07-14 07:55] ronaldtse commented on #68
Oh, it’s the draft-vassilev-acvp-drbg document. We’ll check.

[2019-07-14 08:00] ronaldtse commented on #68
Actually I couldn’t find it. There’s this one https://github.com/usnistgov/ACVP/blob/master/artifacts/acvp_sub_drbg.txt , but this might be a new source.

[2019-07-14 08:03] ronaldtse commented on #68
If that’s the document, maybe the usage is for marking up the source JSON in the appendix. So the [source] block will do it.

[2019-07-18 17:42] celic commented on #68
I don't have the metanorma docs on our GitHub yet. I have them saved internally. There are a lot of small files involved here, so I uploaded them to a personal fork of the original repository. https://github.com/celic/ACVP/blob/master/drbg has the adoc file along with the associated sections. the `common` directory might also be needed as a lot of sections come from there too.

[2019-07-18 18:02] celic commented on #68
With the abundance of templates, I was missing a `[bibliography]` tag in my adoc. Putting that in fixed my issue.

[2019-07-18 18:02] #68 closed

[2019-07-18 18:22] ronaldtse commented on #68
@celic wow, I was just trying to make things work over here: https://github.com/metanorma/ACVP/commit/0f3217dd02675d67d7161ccc2577ccd2f37bbd93

I've also converted the `[source]` and the `....` blocks, so feel free to cherry-pick it from our fork :wink:

And we found a bug in the process - https://github.com/metanorma/metanorma-ietf/issues/33

[2019-07-21 11:44] CAMOBAP795 commented on #63
Formally of this task is done, we only have problems with puppeteer, which I plan to address in the scope of https://github.com/metanorma/metanorma-snap/issues/1

@ronaldtse is this ok to close this ticket?

[2019-07-21 19:46] ronaldtse commented on #63
Yes, indeed. Closing.

[2019-07-21 19:46] #63 closed

[2019-07-22 17:46] CAMOBAP795 commented on #54
@opoudjis sorry for the late message, as far as I understood the idea of this task to be all on the same page, maybe you can share some update about refactoring status

Thanks

[2019-07-25 10:31] ronaldtse opened #72 "Enabling CSL citation style rendering in Metanorma (or Relaton)"
In Metanorma, the citation rendering method is currently free-form (if the details are entered), but only structured for standardization documents (e.g. ISO).

We need to support citation styles, like from CSL (and custom ones). So Metanorma (or Relaton rendering) needs to support CSL.

But CSL itself is insufficient -- when citing according to ISO 690, many details there are not covered by the CS

[2019-07-27 07:42] ronaldtse opened #73 "Create new gem for parsing and writing Metanorma XML"
e.g.

[code]

[2019-07-27 14:46] opoudjis commented on #59
Seriously, someone else needs to be doing this; I can include a Javascript dump in the HTML output (although I think this is insanity), but I will not be compiling the Javascript together myself, and you have people on staff that will do this much more effectively than I will. Assigning to you to reassign to someone else; get back to me if and when someone has assembled all this Javascript into on

[2019-07-27 16:22] ronaldtse commented on #59
And I suspect that @strogonoff can do the best stab at this :wink:

[2019-08-21 09:23] ronaldtse commented on #59
Pinging @strogonoff for thoughts. Thanks!

[2019-08-21 09:46] ronaldtse commented on #59
Ping @zoras to see if you can help.

[2019-08-26 05:09] opoudjis opened #74 "Comms channel"
I've just been informed by @ronaldtse that you have been enlisted to help out with maintaining the Metanorma stack. As I've been managing the stack until now, it is important that we coordinate work, and I would request that we establish a chat channel to do so. I have access to Skype and to Slack, and I strongly request that we use Skype; from what I gather, Ribose is using Skype in general.

The

[2019-08-26 06:00] zoras commented on #74
@opoudjis could you pls share your skype / slack link?

[2019-08-26 22:30] opoudjis commented on #74
In fact, it is opoudjis

[2019-08-27 10:50] ronaldtse opened #75 "Allow direct import of glossaries, e.g. ISO document terms"
There is a need to directly import terms from online-accessible glossaries.

[code]

With this bibliography:

[code]

=> should automatically expand to the effect of:

[code]

[2019-08-27 18:14] skalee commented on #74
Then it's Skype. I've just added @opoudjis to my contacts.

[2019-08-30 10:40] opoudjis commented on #54
@CAMOBAP795 I never got the notification for this :(

Some of the links were redundant, and I have eliminated them. All dependencies on relaton-cli have been eliminated. Will update diagrams.

[2019-09-02 11:34] #74 closed

[2019-10-12 06:36] opoudjis opened #79 "Set project calendar"
If at all possible, integrated with Github. I am not going to be remembering to log in to ribose.com.

[2019-10-21 08:38] ronaldtse opened #80 "Ensure generated HTMLs can be opened without Internet connection"
1. The Metanorma HTML processor can consider inlining all JS scripts during compiling.
2. The Metanorma HTML processor should probably include distribution of the necessary JS files.

[2019-10-21 08:40] ronaldtse opened #81 "Create an email feed/list to inform users of latest updates"
Users want to learn of new versions and functionality.

[2019-10-28 02:28] opoudjis opened #84 "schedule writeup"
https://github.com/metanorma/metanorma/wiki/Work-schedule,-Metanorma-Relaton

[2019-10-28 02:28] opoudjis opened #85 "list of resources needed for onboarding"

[2019-10-28 13:41] opoudjis commented on #85
When the Metanorma team discusses with an SDO proceeding with a new flavour of Metanorma, the Metanorma team requires the following information from the SDO:

* The distinct document types published by the SDO, and their relative priority for implementation.
* Process documentation about how documents are reviewed for publication, which clarify the discrete stages that an author submission can be

[2019-10-29 13:29] #84 closed

[2019-10-29 13:32] opoudjis commented on #84
Dear @ronaldtse @strogonoff @abunashir @VasBu @andrew2net @manuel489 @CAMOBAP795 @w00lf @anermina @skalee @paolobrasolin

I have set up the foregoing page so we can keep track of what all of us are doing, to help with planning and project management. I would like for all of us to update the page every couple of weeks, with the tasks we will be doing over the next two weeks. I will be asking people

[2019-10-29 14:51] VasBu commented on #84
Hi Nick (all),

Thanks a lot for the mail. I don’t have any assignments planned for the next two weeks. So, you should not expect anything from my side. Anyhow, If I receive an assignment in the meanwhile, I’ll follow your instructions.

Cheers,

From: Nick Nicholas <notifications@github.com>
Sent: Tuesday, October 29, 2019 2:32 PM
To: metanorma/metanorma <metanorma@noreply.github.com>
Cc: Vasil B

[2019-11-06 08:51] opoudjis opened #86 "Add :stem: to all Asciidoctor input"
Prompted by https://github.com/metanorma/mn-templates-iso/pull/10

[2019-11-06 10:43] opoudjis commented on #86
It's already the case in metanorma.

[2019-11-06 10:43] #86 closed

[2019-11-06 14:16] opoudjis commented on #53
Manuel is working on these and I am reviewing, so removing myself.

[2019-11-08 07:30] opoudjis commented on #53
Copying for @manuel489 from review https://github.com/metanorma/mn-templates-iso/pull/10:

Add here attributes from https://www.metanorma.com/author/ref/document-attributes/ which are important. I know you can't tell which ones are important, so I'll tell you: :-)

library-ics: ISO, IEC, GB
script: GB, UNECE, ITU (because they expect non-Latin)
revdate: all
iteration: all
keywords: ITU
html-uri, p

[2019-12-02 08:06] ronaldtse commented on #61
This is being done in https://github.com/metanorma/packed-mn/ . Pending Windows and we're done.

[2019-12-02 08:10] ronaldtse opened #88 "Synchronized installation / package releases"
Metanorma now supports a variety of execution methods:

* Docker https://github.com/metanorma/metanorma-docker/
* Single binary https://github.com/metanorma/packed-mn/
* Homebrew https://github.com/metanorma/homebrew-metanorma/
* Snap https://github.com/metanorma/metanorma-snap/
* Chocolatey https://github.com/metanorma/chocolatey-metanorma/

The important thing is to trigger releases of all these

[2020-01-11 02:02] ronaldtse opened #89 "Integrate with NIST's Reeper tool for EXPRESS (Ruby)"
https://www.nist.gov/services-resources/software/reeper

[2020-01-11 15:01] CAMOBAP795 commented on #54
@opoudjis looks like we can close this or, right?

[2020-01-12 14:45] ronaldtse commented on #89
It's now forked to https://github.com/metanorma/reeper/

[2020-01-15 12:26] opoudjis commented on #75
Will do IEV as an initial instance, not sure what other online glossaries for ISO are going to be accessible at all. Will require IEV API integration. Could use termbase invocation in source as means of triggering expansion.

[2020-01-15 13:13] ronaldtse commented on #75
@opoudjis we can do Geolexica as a second one. That depends on https://github.com/geolexica/geolexica-server/issues/2 being completed.

[2020-01-16 12:39] opoudjis commented on #54
It's an FYI ticket documenting dependencies. It does not need to be open.

[2020-01-16 12:39] #54 closed

[2020-01-29 11:49] opoudjis opened #90 "Checklist of tasks for renaming gems"
Renaming gems is highly disruptive (WHICH IS WHY WE SHOULD NOT BE DOING IT), and several people are involved in tasks around it. (I've just discovered that metanorma-build-actions and ci-master needs to be updated with the new repository names.)

I am creating a checklist at https://github.com/metanorma/metanorma/wiki/Checklist,-renaming-gems of tasks that need to be done when a gem is renamed. Pl

[2020-02-06 03:19] opoudjis commented on #90
I will be testing this checklist against https://github.com/metanorma/metanorma-acme/issues/17

[2020-02-10 03:13] ronaldtse opened #91 "Metanorma should no longer require `:type` option when given file is Metanorma XML"
Previously, when reading a Metanorma XML it is unclear which flavor it came from. In the newest Metanorma versions, the Metanorma XML namespaces indicate the document flavor used.

This means it is unnecessary now to specify the `:type` option to the following code.

https://github.com/metanorma/metanorma/blob/0d3c0ae02c2f220eb40aee1cab697011b6d1624f/lib/metanorma/compile.rb#L48-L52

This code sho

[2020-02-10 07:06] opoudjis commented on #91
Nothing for me to do here. Note that this only applies when an XML file is the argument to metanorma; when an Asciidoc document is the argument, the type argument is used as before.

In all cases, the flavour is detected from the root tag. It is `{flavour}-standard` for all flavours, and `standard-document` for standoc.

[2020-02-25 04:19] ronaldtse commented on #91
Not exactly true, the type argument can be specified within the Adoc file as an attribute. This means if the type is set in the adoc file, no command line arguments are necessary.

[2020-02-26 07:48] opoudjis commented on #91
This is for XML > output parsing: make decision of which flavour to work with for rendering of Metanorma XML based on root element.

[2020-02-26 07:50] opoudjis commented on #91
def compile_file
        Compile.new.compile(file, serialize_options)
      end

Metanorma::Compile is in metanorma/

[2020-02-26 14:52] opoudjis commented on #91
I have a partial solution that works in rspec but not when run against a file.

I have updated the processors so that they register their root tags against the Metanorma registry. In order to work out what the flavour of an XML file is, get its root tag, and compare it against all the root tags recorded in the Metanorma registry: when a match is found, we know what the flavour is, and use that fla

[2020-03-03 01:46] ronaldtse opened #95 "Implement `metanorma setup` procedure to allow installation of necessary fonts"
When the user runs setup, we should create a `~/.metanorma/fonts` directory to install all necessary fonts into.

There should be a command `metanorma setup` (because user may upgrade metanorma gems that have additional flavors that need more fonts).

Users can install additional flavors that may require additional fonts. Running `metanorma setup` should find out requirements from these flavors an

[2020-03-03 01:57] ronaldtse commented on #95
@opoudjis has raised a good point:

For flavors that only need Vista fonts:

1. For people on Windows, we just need to copy out the fonts automatically. This can be done using `metanorma setup`. We can run `metanorma setup` as part of the installation via Chocolatey.

2. For people on Macs that have Microsoft Office, again we just need to copy out the fonts. This can also be done using `metanorma

[2020-03-03 10:03] CAMOBAP795 commented on #95
@ronaldtse @opoudjis thanks for a detailed explanation, a couple questions from my side:

1. Maybe I can already check somewhere "font manifest file"? will it be an actual file or just a new method from  in`Metanorma::Processor`?
I have checked `feature/xslfo` branch on `metanorma-iso` but didn't found changes related to this.
Let me know if I can get an example in some flavor
2. Because of this t

[2020-03-03 19:23] CAMOBAP795 opened #96 "Trigger docker mn build on push to master"

[2020-03-04 09:21] ronaldtse commented on #95
We don't have this file yet, we should create one in each of the gems that have PDF functionality. Can you help do this? Maybe a YAML file is appropriate.

Yes.

Right now, we don't have other scripts. Maybe you can create a separate repo to manage font downloads and installation on different platforms?

[2020-03-04 11:19] CAMOBAP795 commented on #96
@ronaldtse @opoudjis please review attached PRs

[2020-03-04 11:51] CAMOBAP795 commented on #95
@ronaldtse thanks for the answer, at this point, I haven't a big picture so I will start checking the code to check which fonts required by a particular processor.

I will list the result of my research here

[2020-03-04 12:53] CAMOBAP795 commented on #95
Make sense to add tags to our repositories based on https://github.com/metanorma/metanorma-build-scripts/blob/master/cimas-config/cimas.yml

To be continued
  - metanorma-acme
  - metanorma-cli
  - metanorma-csa
  - metanorma-csd
  - metanorma-docker
  - metanorma-gb
  - metanorma-iec
  - metanorma-ietf
  - metanorma-iso
  - metanorma-itu
  - metanorma-m3d
  - metanorma-mpfd
  - metanorma-nist
  -

[2020-03-05 12:56] #91 closed

[2020-03-05 13:07] CAMOBAP795 commented on #96
@ronaldtse could you please add GH_USERNAME GH_ACCESS_TOKEN variables to this repo

[2020-03-05 15:54] opoudjis commented on #96
https://github.com/metanorma/metanorma/runs/487709956?check_suite_focus=true : Ubuntu build failing after latest release.

[2020-03-05 16:59] CAMOBAP795 commented on #96
@opoudjis because of https://github.com/metanorma/metanorma/issues/96#issuecomment-595218992

[2020-03-05 19:45] ronaldtse commented on #95
I think your findings are correct. The only fonts we need to install are the Word and PDF fonts. The HTML fonts probably should utilize Google Fonts.

We should have:

Each flavor defines their own fonts (`font-requirements.yaml`)
[code]

Then a CENTRAL FONTS INSTALL MAP: (maybe this should be in a separate repo)

[code]

[2020-03-05 20:04] ronaldtse commented on #96
@CAMOBAP795 secrets.PAT_USERNAME, secrets.PAT_TOKEN are both added. Can you confirm it works?

[2020-03-05 20:05] ronaldtse commented on #96
Oh looks like it worked.

[2020-03-05 20:05] ronaldtse commented on #96
@CAMOBAP795 if it's good please close this. Thanks!

[2020-03-05 20:40] #96 closed

[2020-03-24 15:09] ronaldtse commented on #95
As a first step we now have https://github.com/metanorma/source-fonts which allows easy install of Adobe Source fonts.

[2020-03-24 15:10] ronaldtse commented on #95
Summary of steps:

1. Each metanorma-* flavor will determine a set of necessary fonts.
2. We will then have a place to deal with "where/how to downoad the fonts".
3. On running Metanorma with that flavor, it will ask the user whether they want to accept the licenses for those fonts (if they require any licenses), and install them
4. Those fonts will be installed inside either the System or ~/.meta

[2020-03-26 14:28] abunashir commented on #95
Yap, I can look into it. From the first look, I agree with Ron about having a separate library dedicated to find or download fonts and then utilize that using metanorma setup or some other interface. Here is how I would have approach this:

* Develop a separate library(eg: `font-finder`), that will work more likely as finder or downloader for fonts(using system or internet) and then copy those fon

[2020-03-26 14:45] ronaldtse commented on #95
@abunashir exactly what I had in mind. Let's do it!

[2020-03-26 14:55] abunashir commented on #95
Cool,  I will setup the details then.

[2020-03-27 03:04] ronaldtse commented on #95
The "font setup" code is now located at https://github.com/fontist/fontist managed by @abunashir .

@abunashir can you please ping this post when Fontist is functional, and start integrating with Metanorma?

[2020-03-27 06:09] ronaldtse opened #99 "Puppeteer/PDF time-out after 30s in metanorma-docker container"
This can be seen here: https://gitlab.com/metanorma/mn-samples-nist/-/jobs/487780486

This is the huge document with over 1500 formulas, clearly Puppeteer has issues with rendering all of them within 30s, and that's why they fail. This is when PDF output is invoked.

That said, since we're going to abandon Puppeteer, this may be a thing of the past. But for historic reasons, posting here with log:

[2020-03-27 09:18] opoudjis commented on #90
... No response, eh?

[2020-03-27 09:18] #90 closed

[2020-03-27 09:24] ronaldtse commented on #90
Made minor edits, LGTM.

[2020-03-27 15:04] opoudjis commented on #99
Well, we had to pick a time to give up on Puppeteer; in fact, that can apply to any external process Metanorma invokes. If we were to retain Puppeteer, we could have set a metanorma option to ignore timeouts.

[2020-03-27 16:34] CAMOBAP795 opened #100 "Handling paths with space on Windows"
Based on information passed from @manuel489 puppeteer (or metanorma) have problems with processing paths with spaces

[code]

Full path is `D:\Dropbox\Trabajo\Freelancing\Upwork Jobs`

[2020-03-27 16:34] CAMOBAP795 commented on #100
@ronaldtse could you please prioritize this

[2020-03-27 16:38] ronaldtse commented on #100
This looks like an issue of `metanorma-pdf.js`. Let's get this fixed quickly?

[2020-03-27 17:20] ronaldtse commented on #99
@CAMOBAP795 while you're working with metanorma-pdf.js, could you also help fix this one to extend the Puppeteer time out to 2 minutes (right now it is 30s)? Thanks!

[2020-03-29 12:29] ronaldtse opened #102 "Renaming all flavors to organization names"
metanorma-csd => metanorma-cc
metanorma-rsd => metanorma-ribose
metanorma-vsd => metanorma-vg
metanorma-mpfd => metanorma-mpfa
metanorma-m3d => metanorma-m3aawg

mn-samples-mpf => mn-samples-mpfa
mn-templates-csd => mn-templates-cc

[2020-03-29 12:31] ronaldtse opened #103 "Add mn-samples-* repos for flavors that do not have them"
mn-samples-ribose
mn-samples-m3aawg
mn-samples-vg

[2020-04-01 04:10] ronaldtse opened #105 "Fill in document layout tables to track progress"
I've made a new Wiki page to track our implementation progress of document layouts:

https://github.com/metanorma/metanorma/wiki/Supported-document-layouts

Please help fill this in. Thanks!

[2020-04-01 04:10] ronaldtse commented on #105
Probably should add links to the samples, specs, whatever. When there is time.

[2020-04-01 10:12] opoudjis commented on #100
I've merged this, so you can close this now.

[2020-04-01 10:18] ronaldtse commented on #100
Thanks!

[2020-04-01 10:18] #100 closed

[2020-04-01 10:37] opoudjis commented on #105
I need more information on the "whatever".

* samples: one representative document from the samples, or all of them?
* specs: documentation about how those layouts are to be formatted, or tests of those layouts being applied?
* "whatever": what else is there?

[2020-04-01 12:31] ronaldtse commented on #105
The intention is to allow us to track which document / doctype / docstage-substage combos have been implemented (and what he needs to do).

Not all state combinations result in new document layouts.

Not 100% sure on this, but possibly the end goal is to provide a sample document + sample rendering for each document layout.

[2020-04-06 07:59] CAMOBAP795 commented on #99
Done

[2020-04-06 07:59] #99 closed

[2020-04-06 08:07] ronaldtse commented on #99
Thanks @CAMOBAP795 ! is the commit pushed? If so can you tag that commit in this issue?

[2020-04-06 08:08] CAMOBAP795 commented on #99
@ronaldtse sure PR: https://github.com/metanorma/metanorma/pull/101 Commit: https://github.com/metanorma/metanorma/pull/101/commits/a2218be62abb40ed08693a495ce203fc6baf970f

[2020-04-11 12:46] opoudjis commented on #75
@w00lf Propose to hand this over to you...

[2020-04-17 11:58] opoudjis opened #106 "metanorma GHA not working"
Javascript complaining between latest checking and this; Javascript has not been changed.

https://github.com/metanorma/metanorma/runs/595134601

[2020-04-18 08:21] CAMOBAP795 commented on #106
May be related to https://github.com/puppeteer/puppeteer/releases/tag/v3.0.0 release

And specifically Node.js v8.x.x is no longer supported. (#5136) checking

[2020-04-18 08:56] CAMOBAP795 commented on #106
PR is ready waiting for approval once it will be done I will propagate changes to all repos https://github.com/metanorma/metanorma/pull/107

[2020-04-18 09:11] CAMOBAP795 commented on #106
Fixed in configuration https://github.com/metanorma/metanorma-build-scripts/commit/8bea78aef90f275786faff153c421c4ab2bc22e2

[2020-04-20 04:08] ronaldtse opened #108 "Add font list for every flavor gem"
List of all flavors:

CSA:
AzoSans, AzoSans-Light, SourceCodePro-Light

CalConnect:
SourceSansPro, SourceSerifPro, SourceCodePro, HanSans

IEC:
Arial, Times New Roman, HanSans, Courier

ISO:
Cambria, Times New Roman, Cambria Math, HanSans, Courier

ITU:
Arial, Courier, Times New Roman

OGC:
Arial, Courier, Times New Roman

Ribose:
SourceSansPro-Light, SourceSerifPro, SourceCodePro-Light, HanSans

[2020-04-20 04:09] ronaldtse commented on #108
FYI @Intelligent2013

[2020-04-20 07:39] opoudjis commented on #75
Concepts are already implemented: they are *references* to external termbases:

` {{blah,clause=3.1,figure=a,word}}` means "_Word_ is defined in document _blah_, clause 3.1, figure a"

`{{IEV:135-13-13,word,term}}` means "_term_ is defined as _word_ in IEV, 135-13-13."

But those are references. These are instead going to be importing the definition from that source.

So:

[code]

This is a term d

[2020-04-20 07:49] opoudjis commented on #75
And that would live in:

metanorma-standoc/lib/asciidoc/standoc/cleanup_section.rb : termdef_cleanup()

You would call it as a separate new method, before all the other methods called by termdef_cleanup().

[2020-04-20 07:51] ronaldtse commented on #75
Is completed now.

[2020-04-20 08:01] opoudjis commented on #75
Note that we also have

[code]

@w00lf you will not process this case, because a definition is supplied. But I need to process it, to ensure that the "modifications" are processed with a source that is a concept reference. So this ticket is temporarily my work as well.

[2020-04-20 08:22] ronaldtse commented on #75
Just to confirm we need to differentiate these use cases:

Referring to a Concept ID within definition or text:

[code]

Sourcing an entire Concept to the document's T&D:

[code]

Sourcing an entire Concept to the document's T&D and also modifying its definition:

[code]

[2020-04-20 10:44] opoudjis commented on #75
Implementing third use case

[2020-04-20 10:53] opoudjis commented on #75
I've added the stub for you, @w00lf, `def fetch_termbase()` in metanorma-standoc/lib/asciidoctor/standoc/cleanup_ref.rb

We expect this to be the contents of `<term>`. Term has the grammar:

[code]

We provide `term`, `term/@id`, `term/preferred`, and `termsource`. We inject the contents of fetch_termbase() before termsource; we expect that to be a nodeset of

`admitted*, related*, deprecates*,

[2020-04-20 12:11] ronaldtse commented on #75
@w00lf please also check out the concept model used by the glossarist sites: https://github.com/metanorma/metanorma-standoc/issues/255

Thanks!

[2020-04-20 14:03] opoudjis commented on #108
This is specific to PDF, so it's being called self.pdf_fonts

[2020-04-22 00:55] opoudjis commented on #105
There are two combos *I* have not done. Added them.

Too busy to EVER do this: strongly recommend @ronaldtse delegates this task to the editors, who are already familiar with the contents of the samples repositories.

I'm removing myself from this task; I'll add new layouts as I become aware of them.

[2020-04-22 01:27] opoudjis commented on #75
Yes: this task is now blocked by metanorma/metanorma-standoc#255. I need to work out a serialisation of that information model into Metanorma XML, overriding the current one; and your target output is that new serialisation.

[2020-04-22 01:38] #106 closed

[2020-04-22 02:47] ronaldtse commented on #105
Thanks @manuel489 !

[2020-04-25 09:31] ronaldtse opened #109 "Remove `sassc` from gem runtime dependency"
`sassc` is only used for generation of stylesheets that are used in flavor gems.

Typically, stylesheets are not customizable by users (there is an exception).

In order to install `sassc`, the user's computer needs to compile `sassc` and its toolchain, which is complex and unnecessary.

We would like to pre-compile the `.sass` templates (with plugins) as part of the gem release process (add it in

[2020-04-25 10:09] ronaldtse opened #110 "Supporting a "document collection""
A Metanorma document collection (MNDC) is a collection of Metanorma documents.

This is an extension of the simple Relaton collection we have today.

There are two examples in Metanorma:
* MPFD documents are arranged in a collection -- each document can be published independently yet also within a collection.
* The ISO 10303 SMRL is a "document collection" in which it contains hundreds of standard

[2020-04-28 07:17] ronaldtse commented on #109
Once we have this we can get rid of the `sassc` fork!

[2020-04-29 00:34] ronaldtse opened #113 "If PDF generation fails, DO NOT Block the other extensions!"
Once PDF generation fails, nothing the rest is not run anymore. We ought to have a way to accept failures and move on.

[code]

[2020-04-29 10:29] #113 closed

[2020-05-01 10:50] CAMOBAP795 commented on #95
@abunashir is there some update on this task?

[2020-05-01 15:16] manuel489 commented on #105
@ronaldtse , the ISO samples that I added couple days ago are not working anymore. The links are leading to a 404 page. Do you know what happened?

[2020-05-01 15:49] ronaldtse commented on #105
@manuel489 can you point me to them? No idea...

[2020-05-01 15:53] manuel489 commented on #105
In the progress table: https://github.com/metanorma/metanorma/wiki/Supported-document-layouts

The links that are enclosed in red square shown below:
![Capture](https://user-images.githubusercontent.com/33627611/80819074-4eba0c80-8ba2-11ea-9e86-4c94214ad5a9.PNG)

[2020-05-01 15:56] manuel489 commented on #105
I think I had taken those link from: https://metanorma.github.io/mn-native-pdf/
But it seems they're not available anymore.

[2020-05-01 15:56] abunashir commented on #95
@CAMOBAP795: There is, it's not complete yet but I've added a PR that will setup the required fonts. Here is a in progress PR - https://github.com/metanorma/metanorma-cli/pull/139, is this something you can use for now?

[2020-05-01 16:26] ronaldtse commented on #105
@manuel489 that's very strange, they should exist!

[2020-05-01 16:28] ronaldtse commented on #95
@abunashir here's the full list -- https://github.com/metanorma/metanorma/issues/108

From that issue you can find where @opoudjis kept the font definitions, which metanorma-cli should obtain them from.

[2020-05-01 16:30] ronaldtse commented on #95
Seems that they are:

[code]

i.e. `Metanorma::{Flavor}.pdf_fonts`.

[2020-05-01 19:10] ronaldtse commented on #108
@opoudjis why are we using `self.pdf_fonts`? Both PDF and Word should use the same fonts??

[2020-05-01 19:11] ronaldtse commented on #108
In fact, PDF, Word and HTML should be using the same fonts.

[2020-05-01 19:12] ronaldtse opened #114 "self.pdf_fonts should be renamed into self.fonts_used"
All PDF, Word and HTML layout naturally should utilize the same fonts.

This is from #108 .

[2020-05-01 19:12] ronaldtse commented on #108
Closing in favor of #114 .

[2020-05-01 19:12] #108 closed

[2020-05-02 06:44] ronaldtse opened #115 "Move mn2pdf dependency into an actual mn2pdf gem"
Right now mn2pdf.jar is internalized in https://github.com/metanorma/metanorma/tree/master/bin as a binary file.

This makes it difficult to manage versions of mn2pdf.jar.

Let's create a separate mn2pdf gem, that includes an identically versioned mn2pdf.jar that metanorma can depend on in its `gemspec` file.

[2020-05-02 08:19] ronaldtse commented on #115
Done in https://github.com/metanorma/metanorma/pull/116

[2020-05-02 08:20] #115 closed

[2020-05-04 00:43] opoudjis commented on #108
(a) They aren't, (b) There is no reason why they should. And you have never asked that I change the HTML or Word fonts to match these. Need to discuss.

[2020-05-04 01:31] opoudjis commented on #108
Carry across these fonts to HTML and DOC output

[2020-05-04 01:33] opoudjis commented on #114
CSA:
AzoSans, AzoSans-Light, SourceCodePro-Light

CalConnect:
SourceSansPro, SourceSerifPro, SourceCodePro, HanSans

IEC:
Arial, Times New Roman, HanSans, Courier

ISO:
Cambria, Times New Roman, Cambria Math, HanSans, Courier

ITU:
Arial, Courier, Times New Roman

OGC:
Arial, Courier, Times New Roman

Ribose:
SourceSansPro-Light, SourceSerifPro, SourceCodePro-Light, HanSans

UN:
Arial, Arial Black

[2020-05-04 10:43] opoudjis commented on #114
The demand that the same fonts be used on PDF and DOC/HTML founders on the fact that different font decisions have been taken for the two; AzoSans-Light is being applied in PDF to footnotes and headers/footers, which is not a distinction made in DOC/HTML, nor will it be. I am extracting the relevant fonts to DOC/HTML, rather than reengineering all output to match PDF font usage.

[2020-05-04 12:26] #114 closed

[2020-05-06 11:11] opoudjis commented on #105
Now that PDF functionality is incorporated into the gems, you should be able to point to the mn-samples-XX repos instead.

[2020-05-06 11:12] opoudjis commented on #95
Not any more, I've changed them all to be `.fonts_used`, as requested.

[2020-05-11 06:47] Intelligent2013 opened #118 "Introduce titles for items - contents, tables, etc."
Introduce a dictionary (into XML) for item's titles such 'Table of contents', 'Table', 'Figure', etc. to render a PDF documents on different languages (on French, for example)

Here is static texts from XSLT for English documents:
- ANNEXES
- Annex
- Appendix
- Approval Date
- Box
- Category
- Change
- Clause
- Contents
- DEPRECATED
- Date
- Document language
- Document stage
- Document type
- EXA

[2020-05-11 15:35] ronaldtse opened #119 "Tracking build file dependencies"
An AsciiDoc source file often refers to external files, for it images or includes.

If the files are not changed, it is not necessary to change the final built product if the built product has already been built.

If we are able to obtain a parse tree for dependencies, e.g. root -> include files and images, then we can determine whether the `mtime` of dependencies are newer than the build files --

[2020-05-12 02:01] ronaldtse opened #120 "Test Ruby 2.7.0"
Some components of Metanorma are failing under Ruby 2.7.0 which is released. We need to fix all components.

[2020-05-12 02:13] ronaldtse commented on #120
In particular, the `cnccs` gem has issues as Ruby 2.7.0 has changed the `CSV` class interface.

[2020-05-12 02:37] opoudjis commented on #118
I have a "dictionary" of a lot of these for internationalisation, as you can see in https://github.com/metanorma/isodoc/tree/master/lib/isodoc-yaml (with flavour-specific expansions). I have repeatedly offered to export these to you as variables, but I guess I have to do things this way.

I am not agreeing to translate every single snippet of static text into what you are requesting. The "dictiona

[2020-05-12 02:44] ronaldtse commented on #118
OGC has stated its wish to be multilingual, they have a number of documents translated to Chinese.

[2020-05-14 18:50] CAMOBAP commented on #120
@ronaldtse two more questions:
 - Should we still test on 2.4
 - Should we allow failure for Ruby 2.7?

[2020-05-15 00:36] ronaldtse commented on #120
Yes.

Yes.

Thanks!

[2020-05-16 09:11] CAMOBAP commented on #120
1.
Observed issues Windows
 - ```
   Gem::RuntimeRequirementNotMetError: nokogiri requires Ruby version >= 2.3, <
   2.7.dev. The current ruby version is 2.7.1.83.
[code]

[2020-05-16 09:38] CAMOBAP commented on #120
@ronaldtse for the first problem as far as I understood we need to wait for next stable version of nokogiri, and it's already fixed in https://github.com/sparklemotion/nokogiri/issues/1961#issuecomment-585860989

Technically this task is ready

[2020-05-24 06:21] ronaldtse commented on #120
@CAMOBAP let's move on with it, thanks!

[2020-05-24 08:40] CAMOBAP commented on #120
hmm, my bad PR wasn't prepared by cimas for some reason, now changes pushed

[2020-05-24 08:40] #120 closed

[2020-05-28 17:23] ronaldtse opened #122 "Support `express_ref:[]` syntax (TBD)"
See https://github.com/metanorma/annotated-express/

[2020-05-28 17:24] ronaldtse opened #123 "Support `import_express_schema:[]` (TBD)"
TBD

See https://github.com/metanorma/annotated-express/blob/master/data/documents/resources/fundamentals_of_product_description_and_support/sections/04-schemas.adoc

[code]

This requires integration with Express Engine https://sourceforge.net/projects/exp-engine/

[2020-05-30 23:20] manuel489 commented on #105
@ronaldtse , I have updated the [table](https://github.com/metanorma/metanorma/wiki/Supported-document-layouts), but I couldn't find several samples considering they are supposedly supported. I tagged these as "Not Found".

[2020-06-08 21:20] CAMOBAP opened #124 "[INFO] Avoid RSpecCommand in test because known issue"
### Problem

Because of https://github.com/chef/win32-process/issues/30 problem on windows try to avoid `RSpecCommand` API in tests

### Workarounds

Use `` for shell command execution with simple `stdout` or [`Open3.capture3`](https://docs.ruby-lang.org/en/2.5.0/Open3.html#method-c-capture3), if you need, differentiate stderr/stdout

### Example

 - https://github.com/relaton/relaton-cli/pull/80

[2020-06-09 10:04] opoudjis commented on #110
Writing up spec in https://github.com/metanorma/metanorma/wiki/Metanorma-collections

[2020-06-09 13:22] opoudjis commented on #110
Test instance of YAML to Metanorma Collection published to https://github.com/metanorma/metanorma/tree/master/spec/examples/metanorma-collection

[2020-06-12 11:21] opoudjis commented on #57
Not doing that. Consistency requires us to provide the document identifier in citations consistently.

[2020-06-12 11:23] ronaldtse commented on #57
The document identifier can be given by that particular document's bibdata? This is just like "auto-fetching" but the auto-fetched copy is local.

[2020-06-12 11:28] opoudjis commented on #57
The document identifier remains mandatory, that is consistent with all of metanorma, it is good practice, and I will not brook further discussion.

I will search for *.rxl and *.xml at the nominated location and ingest Relaton XML if available.

[2020-06-12 12:14] opoudjis commented on #57
Citation URLs (provided by path citations) are suffixless in Metanorma XML; they are suffixed with doc for Word, and with html for HTML.

[2020-06-12 12:34] #57 closed

[2020-06-12 15:25] opoudjis commented on #110
I am closing the ticket with the prototype version linked above. The scripts will need to be migrated into a gem, but the basic functionality is now in place.

[2020-06-12 15:25] #110 closed

[2020-06-15 04:24] ronaldtse opened #125 "Model-based standards development"
We currently have to support three flows for model-based standards.

* ISO 10303: Annotated EXPRESS => Metanorma with Reeper / eengine integration.
* ISO TC 211: Enterprise Architect XMI => Metanorma with ShapeChange Integration
* OGC: Metanorma with OpenAPI integration

[2020-06-15 04:26] ronaldtse commented on #125
Need to add documentation for this approach too.

[2020-06-15 11:30] opoudjis opened #126 "Implement metanorma collections code"
In #110, I have created two scripts to convert a YAML file into a Metanorma collection:

The files and test data are in https://github.com/metanorma/metanorma/tree/master/spec/examples/metanorma-collection

https://github.com/metanorma/metanorma/wiki/Metanorma-collections gives the grammar of the Metanorma collection specification

* `make.sh` runs the collection generation
* `ruby yaml2xml.collec

[2020-06-23 16:12] opoudjis commented on #126
This code will be impacted by https://github.com/metanorma/metanorma-standoc/issues/285 . I will update it once that issue is concluded.

[2020-06-25 09:39] opoudjis commented on #102
@CAMOBAP, I am doing this renaming. Apparently you need to update CIMAS? Ronald is redirecting the repositories, if that helps.

[2020-06-25 11:41] CAMOBAP commented on #102
Yep, I will update, @opoudjis just let me know once it done

[2020-06-25 13:26] opoudjis commented on #102
Alex, you may now proceed, though gem release will not happen till tomorrow

[2020-06-25 23:40] #102 closed

[2020-06-30 04:52] opoudjis opened #129 "Sample repostories with renamed gems not compiling"
When a gem is renamed, metanorma compilation will likely break, as has happened after https://github.com/metanorma/metanorma/issues/102 .

* The gem root element is used to look up the associated gem; if the root element is not renamed, that will result in failure to look up the right gem to call, if compiling from XML.
* The mn-document-class will also need to be aliased to old values for backwar

[2020-06-30 04:53] opoudjis commented on #129
Synonyms have been recorded for flavour names in metanorma-cli, and should be usable for this purpose.

[2020-06-30 06:27] opoudjis commented on #125
I do not foresee being available to work on this.

[2020-06-30 07:25] ronaldtse commented on #125
@w00lf is working on LutaML which will form the basis for this.

[2020-07-06 08:59] ronaldtse commented on #61
This is completed in https://github.com/metanorma/packed-mn

[2020-07-06 08:59] #61 closed

[2020-07-07 06:59] w00lf commented on #109
@ronaldtse @opoudjis i have thought a little bit about how to implement this seamlessly. We cant hook up this into metanorma build itself as sassc files are actually located in flavor gem, not in metanorma itself. The only way i can think of is to create custom rake release in isodoc gem to compile sassc during release build, after that, we need to require this task in all our flavor gems. After t

[2020-07-07 10:50] ronaldtse commented on #109
@w00lf indeed, can you please help proceed as described? As long as the SASS => CSS process does not break the liquid code, it's good. Thanks.

[2020-07-07 12:24] w00lf commented on #109
Sure, I will start with isodoc then, will create new rake task there

[2020-07-08 12:19] opoudjis commented on #129
I've redone alias lookup: the canonical alias is the final element of Metanorma:Processor.short, and Metanorma stores a hash of only canonical values against processors, and an alias lookup hash.

[2020-07-08 12:30] opoudjis commented on #129
The alias lookup hash of the Metanorma register will not do anything *if no gems have been registered yet*, which is the starting state.

I'm prepopulating the alias hash with known aliases, because we have to start somewhere.

[2020-07-08 12:34] #129 closed

[2020-07-09 13:10] opoudjis commented on #126
@w00lf Can now be actioned.

[2020-07-09 13:17] w00lf commented on #126
got you!

[2020-07-09 23:07] opoudjis commented on #126
@w00lf if you are too busy, I'll assign it to @andrew2net; @ronaldtse wants this done in the next few days.

[2020-07-10 00:09] ronaldtse commented on #126
@opoudjis @w00lf is likely too busy. @andrew2net can you help handle this? Thanks!

[2020-07-10 19:41] andrew2net commented on #126
@opoudjis I think calling a system command slows down the process. Shall we use direct call metanorma's methods?

[2020-07-11 03:06] ronaldtse commented on #126
Absolutely, let’s use direct calls.

[2020-07-14 00:03] ronaldtse commented on #109
@w00lf are we done soon? Thanks.

[2020-07-14 11:28] andrew2net commented on #126
@opoudjis the file `collection1.yml` has references to `dummy.xml` and `rice1-en.final.xml` however, there are only `dummy.adoc` and `rice1-en.final.adoc`. Should the script looks for a file in other formats and attempts to convert it?

[2020-07-14 12:25] w00lf commented on #109
i have done isodoc gem refactoring, tested on metanorma-m3aawg flavor new gem build. Now I need to test and duplicate changes into other flavors

[2020-07-14 19:30] CAMOBAP opened #132 "Fix compilation for absolute path and path with .."
_Originally comes from_ https://github.com/metanorma/packed-mn/issues/52#issuecomment-658284792

Make sure that:
 - `metanorma ../../document.adoc`
 - `metanorma /absolute/path/to/docuemtn.adoc`

cc @ronaldtse

[2020-07-15 05:09] ronaldtse opened #133 "Add mn-templates-* testing for all executable deliverables (docker, homebrew, chocolatey, packed-mn)"
We should add templates testing for all executable deliverables (docker, homebrew, chocolatey, packed-mn).

From @camobap

_Originally posted by @ronaldtse in https://github.com/metanorma/packed-mn/issues/52#issuecomment-658548212_

[2020-07-23 10:41] #109 closed

[2020-07-26 04:49] opoudjis commented on #118
Internationalisation is now done in the XML, so this ticket is no longer needed.

[2020-07-26 04:49] #118 closed

[2020-07-27 00:30] ronaldtse opened #135 "Consolidated build status matrix for deliverables"
For all auto-triggered builds for new release deliverables, there should be a single location to see the build status:

* https://github.com/metanorma/packed-mn/
* https://github.com/metanorma/homebrew-metanorma/
* https://github.com/metanorma/metanorma-docker/
* https://github.com/metanorma/chocolatey-metanorma/
* https://github.com/metanorma/metanorma-linux-setup (pending https://github.com/meta

[2020-07-27 07:51] CAMOBAP commented on #135
Potential implementations:
 - wiki page with paragraphs for each release and tables with build statuses (badges)
 - metanorma-cli->releases details
 - _to be continued..._

@ronaldtse if you have a vision how it should be implemented please let me know

[2020-07-27 07:56] ronaldtse commented on #135
I think a Wiki page or a new repo with a dashboard would both work. I don't have a better idea...

[2020-07-28 03:27] ronaldtse opened #136 "Investigate SAC XML schema"
As title.

[2020-07-28 10:42] Intelligent2013 commented on #136
XSD looks very strange... Some elements have spaces in the names, that don't allow in XML:

![изображение](https://user-images.githubusercontent.com/5559926/88655895-1ad68080-d0d8-11ea-98bc-6f5c8ad7acd0.png)

[2020-07-28 13:17] Intelligent2013 commented on #136
@ronaldtse

Elements in XSD looks as translated elements from Chinese.
Some elements has `@ref` attribute, but there isn't concordance referenced element.
Without concrete XML example very hard to guess a real aim of concrete element. But in any case I've prepared a comparison on SAX XML schema and MN XML elements table as much possible:
[Check gaps between MN XML and SAC XML.v.0.1.docx](https://g

[2020-07-28 15:37] ronaldtse commented on #136
Thanks for the mapping!

@Intelligent2013 the names are like that because I translated them from Chinese using Google Translate... that's some some of those translated names contain spaces. If possible, you can help correct those and upload.

The word "Article" in this document means "clause".

[2020-07-28 18:17] Intelligent2013 commented on #136
Schema updated:
[sac-normative-docs-20200521.update1.txt](https://github.com/metanorma/metanorma/files/4990323/sac-normative-docs-20200521.update1.txt) (rename it to xsd)
But there are an issues:
- 'list_of_information_resources' must refer to an existing element.
- 'Tip' must refer to an existing element.
- Element 'should_use_terms' is not consistent with element 'should_use_terms'.
- 'Classific

[2020-07-28 18:22] Intelligent2013 commented on #136
I will change:
- "hint" to "Tip"
- "Classification and or coding" to "Classification and coding or system composition"
- "list of information resources" -> "Information Resource List"

[2020-07-28 18:30] Intelligent2013 commented on #136
Fixed:
[sac-normative-docs-20200521.update2.txt](https://github.com/metanorma/metanorma/files/4990402/sac-normative-docs-20200521.update2.txt)

There is only one issue - double element `should_use_terms` :
![изображение](https://user-images.githubusercontent.com/5559926/88706335-69583f00-d119-11ea-9425-5242713b70bf.png)

[Check gaps between MN XML and SAC XML.v.0.3.docx](https://github.com/metanor

[2020-07-31 07:54] ronaldtse commented on #136
I clarified what "should_use_terms" actually means. It is supposed to contain "links" to requirements/clauses of external documents (e.g. external standards).

The same "name" applies to lines 1371, 1527, 1585, 1626, 1663, 1674, 1773.

What it means is that "the requirement of this clause, also includes the requirements of these clauses that are linked in external documents".

In this example, the

[2020-07-31 13:09] Intelligent2013 commented on #136
Thank you. Updated:
[sac-normative-docs-20200521.update3.txt](https://github.com/metanorma/metanorma/files/5007142/sac-normative-docs-20200521.update3.txt)

[Check gaps between MN XML and SAC XML.v.0.4.docx](https://github.com/metanorma/metanorma/files/5007143/Check.gaps.between.MN.XML.and.SAC.XML.v.0.4.docx)

[2020-08-14 12:20] #126 closed

[2020-08-15 12:05] ronaldtse opened #137 "HTML styling for a Metanorma Collection site"
There is a need to ensure an HTML site generated by a Metanorma Collection is styled properly.

[2020-09-18 12:21] ronaldtse opened #138 "Sample templates failing with triggered build"
e.g.
* https://github.com/metanorma/mn-templates-itu/runs/1132728875?check_suite_focus=true
* https://github.com/metanorma/mn-templates-ogc/actions/runs/260737177
* https://github.com/metanorma/mn-templates-iec/actions/runs/260737183

[2020-10-11 10:35] opoudjis opened #142 "Collections need to force all anchors in documents they include to be unique"
This is most expediently done by namespacing all anchors, prefixing them with the document identifier for the document they are in. That will need to be done in preprocessing, and it will need to be respected in links between documents.

This also applies to footnote anchors.

[2020-10-15 09:50] opoudjis opened #143 "Catch errors coming out of PDF Java"
Just now I've checked on Ubuntu (on Windows bundle update doesn't working) and PDF generated ok.
But looks like when ruby call java mn2pdf application it doesn't redirect message to console, so there aren't any messages for mn2pdf.
I'm not ruby spec at all, but may be need to add an instruction:
{SDTERR=>STDOUT}
See:
https://stackoverflow.com/questions/29829204/how-to-pass-parameters-to-a-jar-file

[2020-10-27 10:50] opoudjis commented on #142
To explain this:

There is code in this gem to generate document collections. Part of that code, in collection_renderer.rb, processes the XML of all component documents within the collection, to resolve links between documents within the collection: `file = update_xrefs(file, identifier)`. The preprocessed document is saved to disk, and only those preprocessed documents are concatenated into the c

[2020-11-16 02:23] opoudjis opened #146 "Option to remove bibliographic entries for other documents within a collection"
A document in a collection may reference another document within a collection. For that reference to be generated, a bibliographic item must be included in the source document. However, much of the time, no such bibliographic entries must be included in the generated document.

Will need to have processing option to flag such entries as hidden, and not render hidden bibliographic entries. Will nee

[2020-11-23 13:09] opoudjis commented on #146
We had set the repository reference to `repo:(current-metanorma-collection/si-brochure-en)`, but isodoc has been expecting `repo:(current-metanorma-collection,si-brochure-en)`. Will permit both.

[2020-11-23 13:22] opoudjis commented on #146
No, rather, allow the id following `repo:(current-metanorma-collection/si-brochure-en,id)` to be optional.

[2020-11-24 09:02] opoudjis opened #148 "Hiding references and bibitems"
Follow-on from https://github.com/metanorma/metanorma/issues/146.

Cross-references between documents are realised via bibliographies. This remains the case even if the document is included in a collection. However, if the document is read as a single document (as is the case for the BIPM Brochure), the bibliography should not be rendered. (I do not want to delete it either, in case the erefs poin

[2020-11-24 09:02] opoudjis commented on #146
Will optionally flag bibitem and references elements as hidden, and if they are, rendering of them is to be suppressed.

[2020-11-24 10:14] #146 closed

[2020-11-27 16:37] Intelligent2013 commented on #148
Done.

[2020-11-27 16:37] #148 closed

[2020-12-09 14:48] Intelligent2013 commented on #142
Additional:
- `eref/@bibitemid`
- `source/@bibitemid`
- `origin/@bibitemid`

[2020-12-12 20:15] CAMOBAP commented on #95
I suppose because of https://github.com/metanorma/metanorma-docker/issues/62 this task isn't actual anymore. @ronaldtse can you confirm?

[2020-12-14 12:27] opoudjis commented on #95
Btw, @CAMOBAP, it's "current" or "relevant" in English, and _actual_ is a false friend, it means фактический, not актуальный.

Unfortunately Google Translate is unaware of that in Russian, which astounds me.

[2020-12-14 16:45] ronaldtse commented on #95
I believe you're right, let's close this since metanorma-docker now works with the new volume. BTW, I think you might be able to "cache" the font volume in GHA while using the docker image? That would be cool.

Thanks!

[2020-12-14 16:45] #95 closed

[2020-12-15 13:47] opoudjis commented on #142
Expand to: `*/@bibitemid` : We've missed `<termdocsource bibitemid="ISO712"/>`

[2020-12-19 09:25] ronaldtse opened #151 "GHA: Replace all mn-{samples, templates}-* Makefiles with new metanorma-cli site generation functionality"
This is to replace GHA workflows for all Metanorma document repositories to use the new `metanorma site generate` functionality.

We can remove:
* Makefile
* Makefile.win
* deploy_key (legacy)

And update the GHA workflows.

[2020-12-27 03:07] #142 closed

[2020-12-27 03:08] opoudjis commented on #122
Required by https://github.com/metanorma/annotated-express/issues/12

[2020-12-27 03:14] opoudjis commented on #123
Has apparently been implemented, need to know how.

[2020-12-27 03:14] opoudjis commented on #123
Needed for https://github.com/metanorma/annotated-express/issues/12

[2020-12-27 08:56] ronaldtse commented on #89
This is now irrelevant now with Expressir and LutaML implemented.

[2020-12-27 08:56] #89 closed

[2020-12-27 08:58] ronaldtse commented on #53
https://github.com/metanorma/mn-templates-m3aawg now available. Closing.

[2020-12-27 08:58] #53 closed

[2020-12-27 15:11] opoudjis commented on #122
On hold pending lutaml extracting remarks and schema code.

[2020-12-27 15:13] opoudjis commented on #123
This hasn't been fully implemented, but will be once expressir exposes both remarks and source code to lutaml.

[2021-01-06 15:23] abunashir commented on #73
@ronaldtse - is this still relevant? Would you mind putting together the all the details in a new repo with the correct name?

[2021-01-07 03:01] ronaldtse commented on #73
Yes. This should go into this very gem here. This will replace some functionality currently done in the metanorma-standoc gem.

[2021-01-08 08:53] opoudjis commented on #123
The paths in the asciidoctor extracted by lutaml from express need to be updated to reflect the calling environment. So:

`[lutaml, ../../../resources/action_schema/action_schema.exp, repo]`

is fetching a line containing:

`image::action_schemaexpg1.xml`

Something needs to update that URL from action_schemaexpg1.xml to ../../../resources/action_schema/action_schemaexpg1.xml

Am considering wheth

[2021-01-08 13:11] opoudjis commented on #122
This is very difficult.

The lutaml plugin reads in a single schema in isolation, and processes it in a Liquid template. The anchors are not generated (currently) by the lutaml plugin, but by Metanorma liquid templates:

[code]

Cross-references can be between any two schemas, and the only agent assigning asciidoctor identifiers to those references is Metanorma. Cross-references may well be betwee

[2021-01-09 13:33] opoudjis commented on #123
This has been implemented, and any fixes are going to be new tickets.

[2021-01-09 13:33] #123 closed

[2021-01-09 13:40] opoudjis commented on #122
Eventually, we will supplant `express_ref:[A.B.C]` by `<<express:A:B.C,C>>`.

[2021-01-12 11:41] opoudjis commented on #122
To start: we need to allow user setting of the type of a clause in standoc, so that we can generate `<clause id="A" type="express-schema">`.

[2021-01-14 11:59] opoudjis commented on #122
If an internal crossreference cannot be resolved in metanorma (that is, the document ID it is pointing to does not exist), do not abort execution, but generate error string within document, as well as warnings.

[2021-01-14 12:34] opoudjis commented on #122
Will also want to generate log file for such errors.

[2021-01-15 13:23] opoudjis commented on #122
Moving express_ref:[] to standoc, and then genericising it to colon-delimited xrefs.

[2021-01-15 14:04] opoudjis commented on #122
Will not prefix the container id to the anchor id: they are decoupled.

[2021-01-17 08:43] #122 closed

[2021-01-23 12:25] opoudjis opened #160 "Image maps in HTML collections"
Needed for https://github.com/metanorma/annotated-express/issues/13 and https://github.com/metanorma/annotated-express/issues/15

Need to take as input GIF and image map, and generate SVG with embedded hyperlinks:

* https://vecta.io/blog/the-best-way-to-make-image-maps
* https://html.com/images/how-to-make-an-image-map/

Will need to define image map as an artefact with Metanorma-compatible xrefs

[2021-01-24 05:32] ronaldtse commented on #160
This is interesting for all model-based standards, because they often have model diagrams.
However, generating the image maps may have to be a separate process.

1. I don't know if there are any good tools to slice image maps.
2. I'm not sure if those diagramming tools can export SVG and allow embedding links

There is a suggestion to use something like draw.io to implement some graphic editor, bu

[2021-01-24 05:33] ronaldtse commented on #160
We may need to support SVG (and other image formats) input, too. The key point is either we have to create a new SVG, or adjust an existing SVG.

[2021-01-25 10:28] opoudjis commented on #160
We have two target formats, HTML image maps and SVG image maps; the source format for ISO 10303 is equivalent to HTML image maps.

I am specifying hot areas in metanorma, and transforming them. Generating them is out of scope of metanorma, and must remain so.

The reference of the hot area can be any of a link, an xref, or an internal eref.

2-D geometry is specified as a shape and a sequence of c

[2021-01-25 10:44] ronaldtse commented on #160
Just to clarify we’re going to supersede HTML maps with SVG maps. There is no reason why we need HTML maps which are not even responsive.

[2021-01-25 11:16] opoudjis commented on #160
As you have just conceded, we need to allow for them. ISO 10303 are not the only users in the world.

If an SVG is provided to the imagemap, then instead the macro will contain a mapping from a/href values in the SVG to the targets provided by xref, eref and link. So:

[code]

mapping to Metanorma XML:

[code]

[2021-01-25 11:36] opoudjis commented on #160
At Ronald's request, I am complicating the workflow more, in pursuit of DRY.

The image maps can only contain hrefs. The svgmap is used to update the hrefs in the image map with local values.

[imagemap,images/image.gif,Workmap]
----
* rectangle; link:href1.htm[]; (0, 1); (2, 3)
* circle; http://www.example.com[]; (5, 6); 7
* ellipse; http://www.example.com[]; (14, 15); 16; 17
* poly; link:href2.h

[2021-01-25 11:37] opoudjis commented on #160
Sample svgs attached.

[action_schemaexpg1.svg.zip](https://github.com/metanorma/metanorma/files/5866260/action_schemaexpg1.svg.zip)

[2021-01-25 13:49] ronaldtse commented on #160
Relevant XML in the SVG file:

[code]

[2021-01-28 01:22] opoudjis commented on #160
The images in svgmaps need to be treated the same as images anywhere in Metanorma. So the image shall not given as a src argument to the svgmap macro; instead, it shall be a full image macro, with all its own arguments. And the svgmap in Metanorma XML shall be a wrapper around figure.

Therefore, there is no need for svgmaps to be macros at all: like pseudocode, they shall be examples with an svgm

[2021-02-01 10:52] #160 closed

[2021-02-08 02:40] opoudjis opened #163 "Force Data URI encoding of images in preprocessing of collections"
Testing of collections now includes images, for SVG map testing. But the preprocessed documents are stored in a separate directory from the source; that means that any relative URL references to images are now broken. By default, images are meant to be encoded as data URI for portability; that needs to be enforced now for documents preprocessed to enter into collections.

That also needs that SVGm

[2021-02-10 14:19] #163 closed

[2021-03-05 18:51] ronaldtse commented on #49
@CAMOBAP is this possible now?

[2021-03-06 20:44] CAMOBAP commented on #151
Done for all samples, also cimas configuration update for templates too, will be updated soon

[2021-03-08 04:41] opoudjis opened #166 "Pass through files in metanorma collection file list"
The metanorma collection can include files which are not to be processed as Metanorma asciidoc, but are to be passed through unprocessed, e.g. ASCII files. These still need to be assigned file identifiers in the YAML manifest, as they can be hyperlinked to.

This is needed for annex C of the ISO 10303 documents, which references ASCII schema files as attachments.

[2021-03-11 16:42] ronaldtse opened #167 "Use new Fontist `--no-progress` option to prevent showing much progress"
From https://github.com/fontist/fontist/pull/227#event-4443750152

@CAMOBAP can we use this new --no-progress option for Metanorma fontist installs? Thanks.

[2021-03-11 16:42] ronaldtse commented on #167
And this was started by @CAMOBAP : https://github.com/fontist/fontist/issues/213

[2021-03-23 10:47] ronaldtse opened #173 "Fix codeclimate warnings from #171"
To fix https://codeclimate.com/github/metanorma/metanorma/pull/171 in separate task.

_Originally posted by @CAMOBAP in https://github.com/metanorma/metanorma/issues/171#issuecomment-804642358_

[2021-04-03 06:05] opoudjis commented on #166
This is to address https://github.com/metanorma/annotated-express/issues/18

[2021-04-03 14:10] #166 closed

[2021-04-23 11:47] boydkelly commented on #88
And at the same time, improved support for rpm distros.   The so-called linux script does not work correctly on Fedora.   There is no flatpak....   Remember there are a lot of companies and individuals who use SUSE (esp in Europe) RHEL and Fedora Workstation.  Snap is viewed as a proprietary source for many in the open source world right on par with Chocolatey and Homebrew.

[2021-04-23 21:43] boydkelly opened #184 "Docker fails on test with font license issue"
I run the command:
[code]
And I get the output:

[code]
Other than I can't type YES even if I wanted to, in any case the Cambria font is a VERY poor default choice.  It does not support extended latin characters.
You can solve two problems in one shot here by substituting a widely available font that requires no Type YES To Accept.

google-noto-sans would be a safe choice.  No yes to accept garbag

[2021-04-23 22:40] boydkelly commented on #184
ok I accepted with the switch.   But that still doesn't help me with displaying ɔ ɲ ɛ ŋ.   Github can do it with no problem.   Cambria can't.   And since I am on a slow expensive internet connection in west africa, I don't have the $$$ to download a non functional proprietary font every time I run the docker image.

[2021-04-25 12:37] ronaldtse commented on #184
Appreciate raising the issue @boydkelly , this is an opportunity to explain a few nuances, please bear with me.

TL;DR: *Metanorma does not depend on proprietary fonts*.

Metanorma does not demand the use of any font or font style. By default, Metanorma uses Source Sans which uses an open license.

In any case -- are you writing an ISO deliverable? If you are, there is a separate discussion that c

[2021-04-30 07:49] #184 closed

[2021-05-01 07:29] CAMOBAP commented on #135
@ronaldtse I think this page more or less can be used for described goal https://github.com/metanorma/metanorma-release#metanorma-environments

[2021-05-01 07:38] CAMOBAP commented on #167
Implemented in the scope of metanorma/metanorma-cli#227

[2021-05-01 07:38] #167 closed

[2021-05-01 07:57] CAMOBAP commented on #151
Done

[2021-05-01 07:57] #151 closed

[2021-05-03 05:49] ronaldtse commented on #135
@CAMOBAP agree. Thanks!

[2021-05-03 05:49] #135 closed

[2021-06-09 13:27] opoudjis opened #194 "Two documents with same file name cannot be processed in collection"
The collection file processing is naively dumping files with the base filename into the collection directory, but if they are both called document.xml (from different directories), one ends up overwriting the other.

[2021-06-09 13:29] opoudjis commented on #194
File names need to be disambiguated by suffixing the document identifier.

[2021-06-09 15:51] #194 closed

[2021-06-17 14:33] opoudjis opened #197 "Map references to collection contents at time of collection processing"
In order for references to a document in a collection to be realised as hyperlinks within the collection, we currently require that the document identifier in the document be edited to a repo:() identifier; e.g.

`* [[[iso_std_iso_44001_ed-1_en,repo:(current-metanorma-collection/ISO 44001)]]], _Collaborative business relationship management systems — Requirements and framework_`

That means that i

[2021-06-17 14:33] opoudjis opened #198 "Crossreference other documents in collection at collection processing time"
In order for references to a document in a collection to be realised as hyperlinks within the collection, we currently require that the document identifier in the document be edited to a repo:() identifier; e.g.

`* [[[iso_std_iso_44001_ed-1_en,repo:(current-metanorma-collection/ISO 44001)]]], _Collaborative business relationship management systems — Requirements and framework_`

That means that i

[2021-06-17 14:36] opoudjis commented on #197
Dupe #198

[2021-06-17 14:36] #197 closed

[2021-06-25 07:45] ronaldtse opened #199 "Publish XML tag mapping with STS"
Given the usage of mn2sts and sts2mn, we should publish:

1. A mapping document between Metanorma and ISOSTS/NISO STS
2. Description of how the conversion process works, and any caveats in the process (non-round-trip issues)

This was a mapping done in 2020, we should convert this into something structured and publish it for development purposes.

[MN XML mapping to ISOSTS and NISO STS.docx](https

[2021-06-28 11:27] ronaldtse commented on #198
Thanks for this ticket @opoudjis , very clear on what is needed.

[2021-07-08 17:12] Intelligent2013 commented on #199
I've completely refactored the documentation, uploaded in 'mnconvert' repo: https://github.com/metanorma/mnconvert/raw/master/doc/MN%20XML%20mapping%20to%20ISOSTS%20and%20NISO%20STS.v2.docx

[2021-07-09 11:29] ronaldtse opened #202 "Implement support for HTTP/HTTPS/SOCKS proxy usage"
From a user.

Curl allows this:

[code]

From @CAMOBAP :

There are two known locations in the Metanorma/Relaton stack that accesses the internet.

metanorma-ietf:
https://github.com/metanorma/metanorma-ietf/blob/fce3ae41d3bb3e61573d233d5b9815226835cb59/lib/asciidoctor/ietf/validate.rb#L55-L78

Relaton accesses the Internet for references.

This work is to support HTTP/HTTPS/SOCKS proxy in this st

[2021-07-09 16:13] ronaldtse commented on #199
Thanks @Intelligent2013 ! Let me actually move this issue to metanorma.org. I wonder how we can document this nicely on a website...

[2021-07-10 06:48] CAMOBAP commented on #202
Well, I need to simulate the environment, I will prepare a docker image which:
 - block all traffic and allow only a specific SOCKS proxy IP
 - as far as I understand this can be done only via `iptables` manipulation

In progress

[2021-07-10 12:38] CAMOBAP commented on #202
Steps:
 - `docker run -it --privileged metanorma/mn /bin/bash`
 - `apt-get update -y`
 - `apt-get install iptables`
 - `export SOCKS5_PROXY_HOST=136.243.174.243`
 - ``export SOCKS5_PROXY_PORT=1080`
 - `iptables -A INPUT -s $SOCKS5_PROXY_HOST -j ACCEPT`
 - `iptables -A OUTPUT -d $SOCKS5_PROXY_HOST -j ACCEPT`
 - `iptables -P INPUT DROP`
 - `iptables -P OUTPUT DROP`
 - `env HTTP_PROXY=$SOCKS5_PROXY_H

[2021-07-10 13:28] CAMOBAP commented on #202
Right command is `env HTTP_PROXY=socks5://$SOCKS5_PROXY_HOST:$SOCKS5_PROXY_PORT HTTPS_PROXY=socks5://$SOCKS5_PROXY_HOST:$SOCKS5_PROXY_PORT metanorma new -d standard -t csd csd-foo-standard-2`

But once I drop all other traffic with `iptables -P INPUT DROP && iptables -P OUTPUT DROP` I get:

It feels like I missing some settings in `iptables`, @ronaldtse maybe we have someone iptables/linux expert

[2021-07-10 17:34] Intelligent2013 commented on #199
@ronaldtse we can use this workflow:
- manually: edit docx in Word -> 'save as' filtered web-page (html)
- automatically on github commit: clean up with 'tidy' -> convert to destination html format, or adoc via simple xslt (remove Word's specific attributes, add metanorma.org's css classes, etc) -> publish to metanorma.org
There is an advantage when we commit html on github - we can track changes,

[2021-07-12 05:36] ronaldtse commented on #202
@CAMOBAP Checking if we can find someone to help here.

[2021-07-13 09:39] CAMOBAP commented on #202
Asked on https://serverfault.com/questions/1069448/prove-that-software-works-via-socks

[2021-07-13 14:59] CAMOBAP commented on #202
Per answer, ruby will not work such way this is why socksify gem was developed with it support looks much easier

http://rpm.repo.onapp.com/sources/rubygem-socksify-1.7.1/socksify-1.7.1/doc/

`gem install socksify`

Testing:

socksify_ruby $SOCKS5_PROXY_HOST $SOCKS5_PROXY_PORT /usr/local/bundle/bin/metanorma new -d standard -t csd csd-foo-standard

[code]

[2021-07-13 18:07] ronaldtse commented on #202
As you've seen the rename of the title, I'm not sure if the user really needs SOCKS. He said the proxy is SOCKS, but he can access by setting HTTPS_PROXY.

Let's try making HTTP_PROXY and HTTPS_PROXY work first by ensuring all network calls use `URI.open`?

The StackOverflow comments do not suggest that we cannot simulate the condition though.

[2021-07-13 18:53] CAMOBAP commented on #202
@ronaldtse he can do this for curl for metanorma too?

According to my information socks proxy will not work for `HTTP[S]_PROXY` in case of ruby

Finally I was able to simulate test conditions, it fails on git calls, I'm trying a workaround right now

[2021-07-13 18:55] ronaldtse commented on #202
@CAMOBAP That's why I suspect that his corporate proxy provides both HTTP/HTTPS proxy and SOCKS access (he mentioned SOCKS specifically).

If we only use `URI.open` with those env vars perhaps it would work...

[2021-07-13 20:11] CAMOBAP commented on #202
Well to many assumptions, but still let me reply to some of your thoughts

According to the original `curl --proxy "https://user:pwd@x.x.x.x:8080" "https://httpbin.org/ip"` form user he clearly uses HTTPS proxy. I sure about this because for SOCKS proxy URL schema must be different any of:
 - `socks://` - for SOCKS4
 - `socks5://` - for SOCKS5
 - `socks5h://` - for SOCKS5 with host resolving

For

[2021-07-14 02:50] ronaldtse opened #203 "Support documenting XML schemas (XSD)"
Originally from https://github.com/unitsml/schemas/issues/5 .

From @Intelligent2013 :

[2021-07-14 03:37] ronaldtse commented on #203
This is necessary for the OGC CityGML 3.0 XML schema standard as well.

[2021-07-14 17:17] CAMOBAP commented on #202
Also related to this https://github.com/ruby-git/ruby-git/issues/531 (not blocking but may fails for non `master` branches

[2021-07-15 08:16] CAMOBAP commented on #202
Sometimes `socks_authenticate': Server doesn't reply authentication (SOCKSError)` happens researching why

[2021-07-15 15:42] CAMOBAP commented on #202
PRs prepared, once we will agreed on open questions, I will prepare post on metanorma.com

[2021-07-17 14:40] opoudjis opened #206 "Random fontist breakage"
PRs using fontist 1.10.0 are now breaking.

https://github.com/metanorma/metanorma/actions/runs/1040354412 , an hour ago, using fontist 1.10.0, compiled fine in all platforms

https://github.com/metanorma/metanorma/pull/205/checks?check_run_id=3093422628 is breaking. It has added a new test, YAML collection with sectionsplit, spec/collection_spec.rb line 199, but that test's configuration is liter

[2021-07-17 19:25] alexeymorozov commented on #206
@opoudjis Thanks, I'll take into work. Meanwhile, any chance it misses the `--agree-to-terms` option somewhere?

[2021-07-18 01:52] ronaldtse commented on #206
@opoudjis the error log is as follows:

[code]

In the particular run you referred to, the specs are passing.

Moreover, Metanorma specs should not cause Fontist to download any fonts. @alexeymorozov is there a configuration option to skip Fontist in RSpecs?

[2021-07-18 06:05] CAMOBAP commented on #206
@ronaldtse @opoudjis usually we list it explicitly in rspecs, like https://github.com/metanorma/metanorma/blob/main/spec/compile_spec.rb#L69

[2021-07-19 15:54] opoudjis commented on #206
No they don't, that's an abort after 9 tests.

The new test has:

[code]

Now, in this test, the file is being split up into multiple files, and each being parsed separately. It may be that that compilation option needs to be passed on to the split files, and isn't; trying out.

[2021-07-19 16:07] opoudjis commented on #206
Oh great. The no_install_fonts is indeed not being passed back to isodoc to compile the individual HTML files.

[2021-07-19 16:16] opoudjis commented on #206
And that means I now have to roll no_install_fonts and agree_to_terms into isodoc as compilation options, since that's the only way they can be passed back when isodoc calls metanorma to compile a collection.

This is a disruptive refactoring, and I will now need to do it tomorrow.

[2021-07-19 16:21] ronaldtse commented on #206
Whoa, why is isodoc calling metanorma? It’s supposed to be a one way process.

[2021-07-19 16:22] opoudjis commented on #206
sectionsplit turns a single document into a collection of documents. OF COURSE it is no longer a one way process.

I don't come up with these requiremnts.

[2021-07-19 16:25] ronaldtse commented on #206
Requirements do not lead to a potential loopy situation though. I don’t know how this is being done but you need to consider that this is problematic logically and in terms of performance.

[2021-07-19 16:49] opoudjis commented on #206
I will move the code in lib/isodoc/html_function/sectionsplit.rb to metanorma gem, and have it stand in for the direct invocation of isodoc from metanorma.

[2021-07-20 11:32] opoudjis commented on #206
Moved PDF processing definition from metanorma to isodoc

[2021-07-21 06:37] CAMOBAP commented on #202
Done, and released in 1.4.12

[2021-07-21 06:37] #202 closed

[2021-07-22 16:12] opoudjis commented on #206
I *think* this is now resolved; the PR is still not working, but I believe the issues only relate to the refactoring not having propagated to released isodoc yet.

[2021-07-24 11:11] CAMOBAP commented on #124
We doesn't depend on this gem anymore

[2021-07-24 11:11] #124 closed

[2021-07-24 12:09] CAMOBAP commented on #138
Doesn't look actual anymore

[2021-07-24 12:09] #138 closed

[2021-07-24 12:13] CAMOBAP commented on #52
@ronaldtse @opoudjis I kind of lost state of this, is anything still need to be done in scope of it?

[2021-07-28 04:01] ronaldtse commented on #52
This is a generic task to develop a syntax to enter structured references in a Metanorma bibliography, and related to a ISO 690/citation generation gem.

[2021-07-28 16:06] andrew2net commented on #52
@opoudjis it seems I've missed the task. Could you point where is it?

[2021-07-29 04:42] ribose-jeffreylau opened #207 "Some relaton entries have unexpected titles"
Continuing from: https://github.com/CalConnect/csd-transcription-systems/issues/86

## Problem description

[code]

[code]

The actual titles seem to be from their "unsplit" (i.e. without specifying `ISO XXXX-1`, `ISO XXXX-2`, etc.) old versions.

Is there any way around this?  (apart from patching the relaton cache manually?)

This seems to affect only those standards that are split into parts, w

[2021-08-08 10:22] Intelligent2013 opened #209 "MacOS: bundle installation issue (seven_zip_ruby 1.3.0 error)"
MacOS: Big Sur 11.0.1, just installed

Metanorma installation:
[code]
ended successfully.

Then I've tried:

[code]

[code]

The file /var/folders/7_/ttq11nr16gbbfndpw6jvcy300000gn/T/bundler20210808-4134-1tfwy03seven_zip_ruby-1.3.0/extensions/universal-darwin-20/2.6.0/seven_zip_ruby-1.3.0/mkmf.log` is absent:
[code]

[2021-08-08 12:50] Intelligent2013 commented on #209
There is 6 years old issue here https://github.com/masamitsu-murase/seven_zip_ruby/issues/13, but it's not resolved.

[2021-08-08 13:12] ronaldtse commented on #209
This problem comes from the `excavate` gem. @alexeymorozov is this something you know how to work around?

[2021-08-09 09:44] alexeymorozov commented on #209
Haven't tried it on Big Sur yet. By some reason it could not compile its sample source with neither of these flags:

[code]

https://github.com/masamitsu-murase/seven_zip_ruby/blob/v1.3.0/ext/seven_zip_ruby/extconf.rb#L170

[2021-08-09 11:24] ronaldtse commented on #209
It looks like the install is using system ruby. Does the system have the necessary compilers installed?

[2021-08-09 16:17] Intelligent2013 commented on #209
ruby -v
ruby 2.6.3p62 (2019-04-16 revision 67580) [universal.x86_64-darwin20]

gcc -v
Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/c++/4.2.1
Apple clang version 12.0.5 (clang-1205.0.22.9)
Target: x86_64-apple-darwin20.1.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/

[2021-08-10 13:34] #206 closed

[2021-08-12 03:26] ronaldtse commented on #199
Thanks @Intelligent2013!

[2021-08-12 03:29] #199 closed

[2021-08-16 15:14] CAMOBAP opened #210 "[fontist] 'Courier' font is not supported."
[fontist] 'Courier' font is not supported. Please report this issue at github.com/metanorma/metanorma/issues to report this issue.

https://github.com/metanorma/packed-mn/runs/3341037657?check_suite_focus=true#step:5:1025

[2021-08-16 15:57] alexeymorozov commented on #210
By some reason it used a previous version of metanorma-nist:

`Using metanorma-nist 1.3.9`

But should 1.3.10 which contains the fix.

[2021-08-16 15:59] CAMOBAP commented on #210
@alexeymorozov thanks release workflow failed so I just restarted it https://github.com/metanorma/metanorma-nist/actions/runs/1135366286

I will watch for the release

[2021-08-16 16:00] alexeymorozov commented on #210
Ok, thanks @CAMOBAP!

[2021-08-16 16:02] CAMOBAP commented on #210
Release passed I will restart packed-mn workflows once CI on packed-mn will be less busy

cc @ronaldtse

[2021-08-16 23:47] ronaldtse commented on #210
The error message seems to repeat itself? "Please report this issue at github.com/metanorma/metanorma/issues to report this issue."

[2021-08-17 05:33] CAMOBAP commented on #210
Already fixed

[2021-08-17 05:33] #210 closed

[2021-08-17 09:59] opoudjis commented on #52
This ticket is so old, @andrew2net, it was talking about your creation of relaton classes, read in from hashes. You did this a couple of years ago.

[2021-08-17 11:30] andrew2net commented on #207
@opoudjis it seems we need to change the algorithm for document searching. Now it picks up the latest most relevant document. For the reference `ISO 3166` it's a most recent document without part number [`ISO 3166:1993`](https://www.iso.org/advanced-search/x/title/status/P,U,W,D/docNumber/3166/docPartNo/docType/0/langCode/ics/currentStage/true/searchAbstract/true/stage/stageDateStart/stageDateEnd/

[2021-08-18 12:57] opoudjis commented on #207
I believe so. The correct behaviour for ISO is that all_parts should be set to false by default, but I'll deal with that my side.

[2021-08-19 09:50] ronaldtse commented on #207
@andrew2net in this case if I search by "ISO 8601", I will get "ISO 8601:2004" because that's the most recent non-part document, right?

Can you confirm these are true:
* If I need "ISO 8601-1:2019", then I need to specify "ISO 8601-1"
* If I need the latest version of all ISO 8601-* (part) documents, then I need to specify "ISO 8601 (all parts)"

Right?

[2021-08-19 11:01] andrew2net commented on #207
@ronaldtse

With the option `all_parts: false` it should but something goes wrong with the `all_parts` option. I'll check it.

It returns all parts document "ISO 8601-1" with type "instance" relation "ISO 8601-1:2019". I think it should be all parts document "ISO 8601 (all parts)" with type "instance" relations "ISO 8601-1:2019" and "ISO 8601-2:2019". Right?

It returns all parts document "ISO 860

[2021-08-23 11:56] andrew2net commented on #207
@ronaldtse I've fixed ISO documents fetching and ready to release relaton with this and other fixes. Is this desirable behavior?

Correct.

Confirm.

Confirm. It is also possible to use reference with part. All following examles return same result:
[code]

[2021-08-23 13:43] ronaldtse commented on #207
This is excellent and indeed desired behavior   Thanks!

[2021-08-24 03:59] ronaldtse commented on #203
To achieve this we need a lutaml-xsd that parses XSD files.

[2021-08-28 12:51] Intelligent2013 commented on #209
I've tried to install seven_zip_ruby gem separately by `gem install seven_zip_ruby` and log available now:
[code]

After that tried compile simple program
clang hello.cpp
[code]
and result is
[code]

`type clang` returns:
clang is /usr/bin/clang

Looks like Xcode runs clang instead of clang++.

[2021-08-30 12:53] Intelligent2013 commented on #209
Issue solved after installing Ruby with Homebrew (https://mac.install.guide/ruby/12.html)

[2021-08-30 12:53] #209 closed

[2021-09-28 12:22] #198 closed

[2021-10-05 10:11] ronaldtse opened #215 "PDF generation fails due to font_manifest.yml being a Tempfile that is deleted before mn2pdf reads it"
We should not write out the font manifest until right before execution of mn2pdf, because we control the full flow.

Right now we have a special isodoc option that passes the font manifest to mn2pdf. The problem is `floc_path` being deleted because it is generated as a Tempfile.

The font manifest file can be generated in mn2pdf. The font manifest can be passed to mn2pdf via the metanorma library

[2021-10-05 10:17] ronaldtse commented on #215
Right now the Fontist manifest is generated in `lib/metanorma`:
https://github.com/metanorma/metanorma/blob/debe4a2ffcec23672bfbbef7ec74edce97ca18a7/lib/metanorma/compile.rb#L219

That file is then read inside from `isodoc`:
https://github.com/metanorma/isodoc/blob/bc1679058a615e41b4df10e61a24fc57f1e4c35b/lib/isodoc/xslfo_convert.rb#L6

However, there is no reason to generate the Fontist font mani

[2021-10-11 05:01] ronaldtse opened #216 "README documentation is severely outdated"
This README is only supposed to provide development information rather than user information (which is all on metanorma.org). We should remove all outdated information to prevent causing confusion.

[2021-10-28 03:26] ronaldtse opened #220 "Supporting parallelisation in processing"
In metanorma/metanorma-iso#544 the XML processing is painfully slow because everything is done in sequential order.

We should be able to break up the XML generation piecemeal, and that means that the "includes" we use should not be "expanded into text" before processing.

We may need to reconsider the manner we consume input and organise data.

(also relevant to metanorma/metanorma-iso#545)

[2021-10-30 06:50] opoudjis commented on #220
My finding is that this is not the case at all.

* The main time sink in XML generation is fetching references, and a recent cleanup to move commas inside of tags for proper smart quotes processing, which was implemented through inefficient XPath querying of text.
* Without those two processes, XML generation falls from 80 mins TO TWO. There is zero point in parallelising anything in XML processin

[2021-10-30 07:31] ronaldtse commented on #220
If that were the case then a cache would fix this. But it is not true. Try running it again...

[2021-10-30 09:37] ronaldtse opened #221 "Display processing time and stages for various output formats"
Right now the output looks like this:

[code]

But it's not showing any useful information for profiling.

[2021-10-30 15:19] opoudjis commented on #220
The cache did fix it. It's now 3 minutes, with the quote cleanup optimised. I am running it.

[2021-10-30 18:00] andrew2net commented on #220
is the async method [`Relaton::Db#fetch_async`](https://github.com/relaton/relaton#fetch-document-by-references) in this case?

[2021-10-31 00:26] opoudjis commented on #220
No, just fetch... there is a fetch async?

[2021-10-31 07:39] andrew2net commented on #220
@opoudjis it's described here https://github.com/relaton/relaton#fetch-document-by-references

example:
[code]

[2021-11-03 13:22] opoudjis commented on #220
Moving to https://github.com/metanorma/metanorma-iso/issues/544 the issues with reference fetch parallelisation.

In this issue, I will do isodoc processing parallelisation.

[2021-11-04 12:49] opoudjis commented on #220
The directories that isodoc writes to need to be unique for each extension; so alt_html and html under ISO need to write to distinct temp directories; and one thread cannot delete the temp directory another extension is using.

[2021-11-08 10:49] CAMOBAP commented on #173
Cannot get codeclimate warnings anymore

@ronaldtse do we have enabled it for this repo?

[2021-11-25 14:55] Intelligent2013 opened #223 "BIPM brochure (collection) error"
Source document: https://github.com/metanorma/bipm-si-brochure

The command
[code]
causes the error:

[code]
The the resulted folder `bilingual-brochure` the files:
si-brochure-en.pdf
si-brochure-en.presentation.xml
si-brochure-fr.pdf
si-brochure-fr.presentation.xml

created successfully. But there aren't collection xml and pdf.

[2021-11-26 06:43] ronaldtse opened #224 "Support PDF encryption parameters"
As shown in https://github.com/metanorma/mn2pdf/issues/106

[2021-12-06 17:11] Intelligent2013 opened #226 "Support ToC levels in xml"
Add ToC levels value into metanorma xml (both presentation and semantic) to allowing non-static ToC levels generation in PDF (https://github.com/metanorma/mn-native-pdf/issues/337) and round-trip conversion from metanorma to STS (https://github.com/metanorma/mn-samples-bsi/issues/20
STS example:
[code]
)

[2021-12-08 13:50] #223 closed

[2021-12-14 07:58] ronaldtse opened #228 "Templates: harmonize and clean up"
1. Add `metanorma.yml` for all template repositories
2. Remove `:docfile: ...` from all files (this is a deprecated attribute now)
3. Add GHA workflows to run `metanorma site generate`.

[2021-12-14 07:58] ronaldtse commented on #228
@manuel489 could you help with this? Thanks!

[2021-12-14 17:42] ronaldtse opened #229 "Templates: rewrite GHA"
Similar to https://github.com/metanorma/mn-templates-ogc/issues/43, we need to do this for *all* template repositories.

[2021-12-14 17:47] ronaldtse commented on #228
As part of this task, we should add a metanorma.yml for them so that we can:

1. compile all templates as docs
2. provide rendered samples of the templates on GH pages

[2021-12-15 20:43] manuel489 commented on #228
@ronaldtse, I have fulfilled these two tasks for the existent template repositories.

This one remains.

[2021-12-16 23:01] opoudjis commented on #220
On new Mac, whole document now takes 14 min.

[2021-12-16 23:10] #220 closed

[2021-12-16 23:17] opoudjis opened #230 "Make threaded isodoc execution optional"
Follows from https://github.com/metanorma/metanorma/issues/220

Add an option to disable this, through an environment variable, for Ruby-packer environment.

@andrew2net has already done the same for relaton: https://github.com/relaton/relaton/commit/7663993775fdbb500cabfc58b03eda295e933e02

[2021-12-16 23:21] ronaldtse commented on #220
Thank you @opoudjis !

As mentioned, could you please add an environment variable switch to turn parallelization off?

This is due to packed-mn's usage of ruby-packer which will segfault at parallel file accesses.

[2021-12-16 23:25] opoudjis commented on #230
Also need to mutex all file accesses within isodoc.

[2021-12-17 15:41] ronaldtse commented on #228
@manuel489 please help apply the same files from https://github.com/metanorma/mn-templates-ogc/pull/44 to all template repositories. Thanks!

[2021-12-18 03:29] manuel489 commented on #228
@ronaldtse, I've applied the changes in all templates. There are two flavors that fail on GHA: NIST and IETF.

In [NIST](https://github.com/metanorma/mn-templates-nist/pull/15), the error message is:
[code]

While in [IETF](https://github.com/metanorma/mn-templates-ietf/pull/22):
[code]

I'm able to locally compile documents without issue in both flavors though.

[2021-12-19 06:12] opoudjis commented on #230
Will reuse `RELATON_FETCH_PARALLEL` variable for metanorma as well.

[2021-12-19 06:26] ronaldtse commented on #230
@opoudjis please use a Metanorma specific environment variable. Thanks.

[2021-12-20 09:52] opoudjis commented on #230
Done: `METANORMA_FETCH_PARALLEL`

[2021-12-20 10:12] ronaldtse commented on #230
@opoudjis Metanorma isn't "fetching" in parallel though. How about `METANORMA_PARALLEL={number}`?

[2021-12-20 10:14] opoudjis commented on #230
OH FFS. FINE.

[2021-12-20 10:28] opoudjis commented on #230
Created Metanorma::FileHelper singleton class with Mutex to do threadsafe file reads (and if needed writes).

[2021-12-20 10:28] #230 closed

[2021-12-20 10:51] ronaldtse opened #231 "Ruby 3.0 extra warnings about re-initialised constants"
Haven't seem them before.

From Metanorma 1.4.3:

[code]

[2021-12-20 12:46] opoudjis commented on #231
Cannot replicate, have rerun T17-D022-Model-Driven-Standards-ER. The pathname gem dos not occur in any of my Gemfile.lock files. https://github.com/Shopify/bootsnap/issues/112 suggests this is an environment problem your side.

Since I don't include pathname anyway, I can't suppress its inclusion anywhere.

[2021-12-27 10:04] opoudjis commented on #226
There is nothing whatsoever semantic about the number of ToC levels, and hardcoding number of ToC levels is a misfeature: we make a point of allowing Word and HTML to have different ToC levels, which is why ToC levels is an argument passed in to compilation. STS specifies TOC levels, but STS makes little real distinction between semantics and presentation. If the workflow requires presentation inf

[2021-12-27 10:59] Intelligent2013 commented on #226
@opoudjis may be `@htmltoclevels` and `@doctoclevels` or `@toclevels` in both presentation and semantic xml is enough?
There are two issues:
1. for OGC documents https://github.com/metanorma/metanorma-ogc/issues/328
I've tried to add `:toclevels: 3`,  but presentation xml doesn't contain `@htmltoclevels`, `@doctoclevels`, `@toclevels` (I've tried to generate presentation xml 3 weeks ago). Therefor

[2021-12-30 05:34] opoudjis commented on #226
Ugh.

OK: I'm adding these to misc-container, as:

* //misc-container/presentation-metadata[name = "TOC Heading Levels"]/value
* //misc-container/presentation-metadata[name = "HTML TOC Heading Levels"]/value
* //misc-container/presentation-metadata[name = "DOC TOC Heading Levels"]/value

Putting "presentation-metadata" in, because who knows what else we need to put in there.

[2021-12-30 06:12] #226 closed

[2021-12-30 10:51] Intelligent2013 commented on #226
@opoudjis thanks!

[2022-01-05 14:59] CAMOBAP opened #233 "Fix windows broken tests"
Broken after https://github.com/metanorma/metanorma/commit/7328790ff5d035db4dd918714a84dd375593eab6

Can be seen here: https://github.com/metanorma/metanorma/actions/runs/1678235597

[2022-01-07 06:58] ronaldtse commented on #228
@CAMOBAP can you help make these PRs work?

* [ ] https://github.com/metanorma/mn-templates-nist/pull/15
* [ ] https://github.com/metanorma/mn-templates-ietf/pull/22

[2022-01-11 10:01] opoudjis commented on #233
Yes, I've just noticed this myself. Unfortunately, it's PC-specific, so I'm struggling to work out what has gone wrong. But this is the sectionsplit functionality now compiling in a separate, temporary directory, so that parallel execution of different formats would not overwrite each other. The code changes involved are in https://github.com/metanorma/metanorma/commit/7328790ff5d035db4dd918714a84

[2022-01-11 10:25] CAMOBAP commented on #228
Quick update:
1. https://github.com/metanorma/mn-templates-ogc/pull/46 - have a 'reference implementation'
1. I will propagate this approach to all template repos
1. Also this feature will be nice to implement https://github.com/metanorma/metanorma-cli/issues/268

[2022-01-14 06:02] ronaldtse commented on #233
I think we should not merge failing PRs. @CAMOBAP are you able to help with this?

Failure:
[code]

[2022-01-14 06:15] CAMOBAP commented on #233
@ronaldtse there are several windows failures in my list which I will have a look after relaton-bib-py

[2022-01-16 16:52] manuel489 opened #235 "AsciiMath: Text below underbraces (`ubrace`) get shifted"
Text below underbraces gets shifted to right.

*Example:*
[code]

*Generated with Metanorma:*
![issue2_generated](https://user-images.githubusercontent.com/33627611/149669493-8e1374c1-5420-4a0a-89b5-f1d9f8fd0d17.PNG)

*Original AsciiMath:*
![issue2_original](https://user-images.githubusercontent.com/33627611/149669503-67a62f70-4de6-4461-a97c-e1674aac7fa6.PNG)

[2022-01-16 17:00] manuel489 commented on #235
DOC output:
![issue2_generated_doc](https://user-images.githubusercontent.com/33627611/149669907-a0821999-a4cf-4cec-8e4d-a606b15bcd32.PNG)

[2022-01-16 17:05] manuel489 opened #236 "AsciiMath: Matrix not rendering inside fraction"
*Markup:*
[code]

*Metanorma:*
![issue3_generated](https://user-images.githubusercontent.com/33627611/149670055-fec37e69-9882-4abe-a8a0-4fe2cb56391c.PNG)

*Original AsciiMath:*
![issue3_original](https://user-images.githubusercontent.com/33627611/149670060-d201ff26-684b-43ad-b2fd-975a1fab8910.PNG)

[2022-01-16 17:08] manuel489 commented on #236
DOC output:
![issue3_generated_doc](https://user-images.githubusercontent.com/33627611/149670124-e50f5217-706d-4a9c-82c6-7767dc8b9776.PNG)

In addition, vector arrows are shifted to the middle.

[2022-01-16 17:12] ronaldtse commented on #235
I can confirm that AsciiMath.JS has the same behavior. However I don't know if the `asciimath` gem does this or not.
<img width="868" alt="Screenshot 2022-01-17 at 1 12 19 AM" src="https://user-images.githubusercontent.com/11865/149670331-eb1ac211-4b45-4c03-a9fc-198f01e393e4.png">

[2022-01-18 11:00] opoudjis commented on #235
`ubrace(X, Y)` is being rendered by the AsciiMath gem as `<msub>X Y</msub>`, instead of `<munder>X Y</munder>`.

That appears to be an oversight in AsciiMath gem: superscript and subscript with obrace and ubrace in AsciiMath are underscript nor subscript and overscript not subscript; just as with `lim_blah`.

[2022-01-18 11:54] opoudjis commented on #235
Doing PR to asciimath gem

[2022-01-18 12:03] opoudjis commented on #235
I have posted our kludge solution to riboseinc/asciimath, but hopefully the PR will be integrated into asciimath proper.

[2022-01-24 15:46] CAMOBAP commented on #49
@opoudjis correct me if I'm wrong, but looks like you recently implemented something in this direction, right?

[2022-01-26 17:28] manuel489 opened #237 "AsciiMath: `frac{}{}` macro not rendering"
[code]

Generated:

![eq_generated](https://user-images.githubusercontent.com/33627611/151214994-db66f7b1-58f9-4969-839c-702583dba45d.PNG)

Original:
![eq_original](https://user-images.githubusercontent.com/33627611/151215003-3c04fcd4-ee4f-4690-a78e-2cd0a8227d9c.PNG)

[2022-01-27 05:21] ronaldtse commented on #237
I confirm that this works with asciimath.org but not sure about the asciimath gem.

[2022-01-27 11:28] ronaldtse commented on #228
@CAMOBAP are the above items done? Thanks.

[2022-01-28 21:16] CAMOBAP commented on #228
Almost I'm working to move matrix to external json for all mn-templates-*

[2022-01-29 00:01] CAMOBAP commented on #229
Done, still waiting for CI future details will be posted https://github.com/metanorma/metanorma/issues/228

[2022-01-29 00:01] #229 closed

[2022-01-29 00:04] CAMOBAP commented on #228
Done, waiting for CI
 - https://github.com/metanorma/mn-templates-ogc/runs/4987802528
 - https://github.com/metanorma/mn-templates-cc/runs/4987787539

BTW CI matrix now very detailed so we will able to see from it exact document type in case of failure without need to doive into logs

[2022-01-29 07:17] CAMOBAP commented on #228
small issue on windows fixed and CI passed

[2022-01-29 07:17] #228 closed

[2022-01-31 10:15] opoudjis commented on #237
Raised https://github.com/asciidoctor/asciimath/issues/70

[2022-01-31 12:09] opoudjis commented on #236
Matrixes don't render outside of fractions either: `((0,0,1))` renders with commas.

The asciimath gem expects to see `((0),(0),(1))` for matrices, and it also renders `((1,2,3),(4,5,6),(7,8,9))` correctly as a matrix. So `vec r = {((0),(0),(1))^T xx vec n}/{norm{((0),(0),(1))^T xx vec n}}` parses correctly.

That I believe is because of the gem requiring matrix expressions to end with parentheses

[2022-01-31 13:15] opoudjis commented on #236
https://github.com/asciidoctor/asciimath/issues/71

[2022-01-31 13:34] opoudjis commented on #236
In the case of Word...

... Ok, this is infuriating.

Our transformation of MathML to OOXML, using Microsoft's stylesheet, has `<m:chr m:val="&#x2192;">`, which uses the full-size right arrow: →

But what Word actually uses is `<m:chr m:val="⃗"/>`: they are using (unencoded) `&#x20D7`: a superscript arrow.

This issue also applies to Word renderings of hat x, ul x, tilde x.

I will address these b

[2022-01-31 17:23] ronaldtse commented on #236
@opoudjis are you sure this should go into html2doc rather than our OMML gem?

[2022-02-02 13:25] opoudjis commented on #236
Asciimath fixed to address issue.

@ronaldtse: our OMML gem transforms OOXML to MathML. This conversion is the opposite direction; we don't have a MathML to OOXML gem, that mapping is currently only contained in the html2doc gem. I don't see a pressing need to factor it out, but if you do, please delegate the task :)

[2022-02-02 13:25] #236 closed

[2022-02-06 07:49] opoudjis commented on #237
Addressed in asciimath.

[2022-02-06 07:49] #237 closed

[2022-02-16 12:09] opoudjis commented on #221
That comment is wrong. OF COURSE the issue is only detected when the document is converted to XML, that's when it works out whether the cross-references exist. There is no Metanorma document model until the Asciidoc is parsed, and XML is what it is parsed into.

The input uses `term[xxxx]`, because it's assuming an input syntax, and `term[xxxx]` and `{{xxxx}}` are equivalent: Asciidoctor, as we've

[2022-02-16 12:18] opoudjis commented on #221
[code]

You can only have something like that if none of the warnings go to screen, and they only go to the logfile. I can do that, but I'm not convinced it's a good idea; and there will be errors I can't stop crashing onto the screen. At any rate, such progress measures are a matter for metanorma-cli, and I think they should be handled by @abunashir ...

[2022-02-17 13:54] ronaldtse commented on #221
The easy way out is to have all warnings go to a "warning log channel" (which presumably goes to STDERR) that can be silenced:
https://github.com/metanorma/metanorma-cli/issues/92

[2022-02-21 09:49] opoudjis opened #239 "INKSCAPE required in GitHub Actions"
https://github.com/metanorma/metanorma/runs/5271441663?check_suite_focus=true

[2022-02-21 14:24] CAMOBAP commented on #239
Fixed

[2022-03-07 02:13] opoudjis commented on #235
I will also implement the LaTeX version of this, Pepijn is too busy.

[2022-03-14 07:46] ronaldtse commented on #233
All Windows tests are passing now. Closing.

[2022-03-14 07:46] #233 closed

[2022-03-17 11:51] opoudjis commented on #235
Implemented, waiting now on Pepijn.

[2022-04-17 11:51] opoudjis commented on #221
Unassigning myself.

[2022-04-18 16:29] Intelligent2013 opened #243 "Error: `cannot load such file --fontist/manifest/install (LoadError)`"
Error occurs when I run `bundle exec metanorma -t iso -x presentation sources/document.adoc` (https://github.com/metanorma/iso-iec-smart-terms):
[code]

Gemfile.lock and previous working version Gemfile.lock.old:  [Gemfile.zip](https://github.com/metanorma/metanorma/files/8506807/Gemfile.zip)

[2022-04-18 16:38] opoudjis commented on #243
That should be resolved in upcoming release, there was an issue in fontist being downgraded because of a library incompatibility, which should now be resolved. I see the new Gemfile is using fontist 1.2, the old 1.14.

Updated metanorma just a couple of hours ago, try updating now?

[2022-04-18 16:45] Intelligent2013 commented on #243
[code]

Error occurs again...

Gemfile.lock is identical in .zip above.

[2022-04-18 16:57] Intelligent2013 commented on #243
Solved after upgrade to metanorma 1.4.7.1.

[2022-04-18 16:57] #243 closed

[2022-04-22 10:54] #235 closed

[2022-04-22 10:54] opoudjis commented on #235
Released

[2022-06-02 05:02] caitlinadams opened #244 "Unable to install metanorma via brew"
I attempted to install metanorma on MacOS using the simple instruction here: https://www.metanorma.org/install/macos/

namely `brew install metanorma/metanorma/metanorma`

I received the following warning, and metanorma was not installed.
[code]

I'm not sure why this is occurring and don't have enough knowledge of brew to chase down what might be going wrong.

I am using a MacBook with an Apple M

[2022-06-09 11:53] pablocavalieri opened #246 "Example for Json to test"
Help wanted here. Is there any readme or wiki with an example on how to execute the simple json to text example described here https://www.metanorma.org/author/topics/automation/json_to_text/?

[2022-06-10 05:24] ronaldtse commented on #244
@caitlinadams sorry for the delay in replying! It might be that our Homebrew formula is outdated. @CAMOBAP can you help here? Thanks!

[2022-06-10 05:28] ronaldtse commented on #244
This is actually very strange because it seems that even our builds these few days have had trouble with the Homebrew "git" formula? e.g. https://github.com/metanorma/homebrew-metanorma/runs/6768026198?check_suite_focus=true

[2022-06-10 05:31] ronaldtse commented on #231
This is gone now. Closing.

[2022-06-10 05:31] #231 closed

[2022-06-10 05:31] #239 closed

[2022-06-10 05:33] ronaldtse commented on #173
Seems that the git branch change to `main` killed it. I've just fixed it here: https://codeclimate.com/github/metanorma/metanorma/builds

[2022-06-10 05:41] ronaldtse opened #247 "Updating Metanorma with `bundle update` originally installed with Chocolatey"
This is reported by @rggibb:

[2022-06-10 05:52] CAMOBAP commented on #244
It looks like something is broken in the brew installation because git formula definitely exists https://formulae.brew.sh/formula/git

@caitlinadams could you please run:
 - `brew update`
 - `brew doctor`
 - `brew config`

And attach files with output here?

[2022-06-10 06:06] CAMOBAP commented on #247
I have the assumption that this may be related to the issue https://github.com/metanorma/packed-mn/issues/100

@rggibb could you please:
1. check metanorma package version with `choco list metanorma`
2. if the directory where you running `metanorma` command contains `Gemfile` file, please temporally delete it to check if metanorma will works

[2022-06-10 06:15] caitlinadams commented on #244
Thanks for getting back to me, I have attached here. I think you're right that the brew install might be broken. The doctor output contains:
[code]

Shall I try running this and then re-installing metanorma?

[brew_config.txt](https://github.com/metanorma/metanorma/files/8876185/brew_config.txt)
[brew_doctor.txt](https://github.com/metanorma/metanorma/files/8876186/brew_doctor.txt)
[brew_update.tx

[2022-06-10 06:19] CAMOBAP commented on #244
@caitlinadams yes, I think so, and run doctor and update after it so full script should be like:

[code]

[2022-06-10 06:20] ronaldtse commented on #244
@caitlinadams could you first try those commands? Seems that the failure was due to the Homebrew install not having fully cloned the core formulas.

[2022-06-12 05:25] CAMOBAP commented on #247
It will be fixed once prebuilt for Ruby 3.1 will be available https://github.com/fontist/ffi-libarchive-binary/issues/10 as workaround downgrade to ruby 3.0 or 2.7 will works also:

[code]

[2022-06-18 15:25] ronaldtse opened #248 "Consider separating out document template rendering styles per flavor"
Right now, we have:
- OGC: "old branding" vs "new branding" across output formats
- ISO: Word output "Simple Template" vs "Edited DIS Template"

We may want to formalize template styles for the same flavor in the future.

Originally from https://github.com/metanorma/metanorma-ieee/issues/9

[2022-06-21 04:56] CAMOBAP commented on #244
@caitlinadams feel free to reopen if you still have issues with installation, thanks

[2022-06-21 04:56] #244 closed

[2022-06-22 09:47] CAMOBAP commented on #247
https://github.com/fontist/ffi-libarchive-binary/issues/10 - released, so now Ruby 3.1 should have all prebuilt gems and `bundle install` will pass

[2022-06-23 19:42] #49 closed

[2022-06-23 20:02] CAMOBAP commented on #132
Doesn't reproduces anymore

[2022-06-23 20:02] #132 closed

[2022-06-24 02:24] ronaldtse commented on #49
@CAMOBAP have you tried this? Is it now possible? Running two metanorma instances at once?

[2022-06-24 04:53] CAMOBAP commented on #49
As far as i understood the idea was to compile several documents in parallel, and this functionality was implemented, correct me if I am wrong

[2022-09-07 17:57] ronaldtse opened #257 "(URGENT) All flavor gems released through GHA missing compiled stylesheets"
The latest GHA `release` workflow does not compile stylesheets, resulting in the latest flavor gems all failing. This is because of the Rake task for release not properly working on GHA.

These gems require "sassc" for running, which is not acceptable.

All flavor gems need to be re-released.

[2022-09-15 09:53] ronaldtse commented on #257
I think this is fixed, closing.

[2022-09-21 10:14] #257 closed

[2022-10-10 12:52] opoudjis opened #261 "All Ruby Windows GHA jobs failing because of bundler issue"
https://github.com/metanorma/metanorma/actions/runs/3218225972

[2022-10-11 02:50] opoudjis commented on #261
Same issue today as yesterday:

https://github.com/metanorma/metanorma/actions/runs/3218225972/jobs/5273725733

GHA Windows agents take 40 minutes to install environment (15 mins on Nokogiri), and crash on attempt to install Expressir.

This is holding up fortnightly release.

[2022-10-11 03:00] ronaldtse commented on #261
https://github.com/rubygems/rubygems/issues/5422 says this may be caused by a corrupt gemfile.lock, which is cached on github.

[2022-10-12 00:51] ronaldtse commented on #261
The real issue is this: Bundler 2.3.23 fails on Windows with native gems:
* https://github.com/rubygems/rubygems/issues/5970

The only fix right now is to lock Bundler to 2.3.22, like this:
* https://github.com/open-telemetry/opentelemetry-ruby-contrib/pull/139

We have to apply this fix to all of the repositories, so @CAMOBAP can you please help mass apply this?

[2022-10-12 01:59] opoudjis commented on #261
Note that this really is urgent: we are unable to release until this is dealt with, because metanorma-cli will not trigger docker otherwise.

[2022-10-12 05:49] CAMOBAP commented on #261
Implemented and tested on https://github.com/metanorma/metanorma/actions/runs/3218225972

Waiting for https://github.com/metanorma/metanorma-cli/actions/runs/3218650484

[2022-10-12 07:04] CAMOBAP commented on #261
Passed

[2022-10-12 07:04] #261 closed

[2022-10-19 20:31] jerstlouis opened #262 "Mermaid diagrams in metanorma documents"
Is there already an existing mechanism to include diagrams generated by [mermaid](https://mermaid-js.github.io/mermaid/#/) in metanorma documents?

GitHub, GitLab and ASCIIDoctor (`asciidoctor-mermaid` ruby gem) all easily support mermaid.
mermaid is so much more productive than fighting with visual diagram editors, and not having to manually generate figures with [`mmdc`](https://github.com/merma

[2022-10-20 13:06] opoudjis commented on #262
At this time no, the only diagramming tool we support is PlantUML. @ronaldtse will need to determine whether we should support other tools, but PlantUML is also better than fighting with visual diagram editors...

https://www.metanorma.org/author/topics/document-format/diagrams/

[2022-10-20 16:25] ronaldtse commented on #262
The issue we have with Mermaid is that today Metanorma does not get bundled with a JS stack.

Different from the Asciidoctor implementation, which is typically installed as a gem, Metanorma is typically delivered in a single binary package (which provides all pre-requisites) that is not always able to call external executables (such as if mermaid is installed elsewhere).

Adding a JS stack would l

[2022-10-26 11:04] ronaldtse opened #264 "Raise minimum Ruby version to 2.7 due to EOL"
As per: https://github.com/metanorma/ci/blob/main/.github/workflows/generic-rake.yml

We are no longer testing Metanorma on Ruby 2.6. However, the gemspec files still state a minimum Ruby version on 2.5.

This task is to update all the gemspec files to state a min requirement of Ruby 2.7.

Ruby 2.6 has been EOLed:
https://www.ruby-lang.org/en/downloads/branches/
<img width="282" alt="Screen Shot 2

[2022-10-26 14:50] opoudjis commented on #264
Updated all the gems I'm involved with.

[2022-10-26 15:48] ronaldtse commented on #264
@opoudjis we're still missing the `metanorma-*` gems though.

[2022-10-26 19:49] maxirmx commented on #264
[pngcheck](https://github.com/metanorma/pngcheck-ruby)  was 2.7 already
[ffi-libarchive-binary](https://github.com/fontist/ffi-libarchive-binary) was 2.7 already
[excavate](https://github.com/fontist/excavate) was 2.7 already
[expressir](https://github.com/lutaml/expressir) -- upgraded
[extract_ttc](https://github.com/fontist/extract_ttc) -- upgraded
[emf2svg](https://github.com/metanorma/emf2svg-

[2022-10-26 23:19] opoudjis commented on #264
They're done locally, you'll get them next release.

[2022-10-26 23:19] #264 closed

[2022-11-13 11:39] ReesePlews opened #266 "documentation issue: "in_organization" is not a listed span category but is present in an example..."
on this page....

https://www.metanorma.org/author/topics/document-format/bibliography

in the span categories shown above example 11 does not show a "in_organization" category but the example does show an "in_organization" category.

[2022-11-14 02:30] ronaldtse commented on #266
Thank you @ReesePlews ! @opoudjis can you help clarify whether `in_organization` exists and how it differs from `organization`?

[2022-11-29 01:50] ronaldtse opened #268 "Integrate with an SVG validator"

[2022-11-29 06:43] maxirmx commented on #268
I believe w3c validator is here: https://github.com/validator/validator.   It is Java but I believe it can be integrated.
However, w3c may be an overkiller.

It looks like we can validate it with nokogiri:
https://gist.github.com/RickCarlino/8de138fd294dfdaad19e